				
				<div class="row" ng-controller="HomeCntl">
		<div class="col-md-3">
			<% if user_signed_in? %>
				<div class="sidebar-login-buttons profile-holder">
					<div class="row">
						<div class="col-lg-2">
							<img src="<%= gravatar_image_url(current_user.email.gsub('spam', 'mdeering'), filetype: :png, rating: 'pg', size: 30, secure:false ) %>" class="short-profile-image">
						</div>
						<div class="col-lg-8">
							<%= current_user.profile.name %>
							<%= current_user.email %>
						</div>
						<div class="col-lg-2">
							<a href="/profile" class="btn btn-info btn-xs"><i class="fa fa-arrow-circle-o-right"></i></a>
							<a href="/logout" class="btn btn-danger btn-xs"><i class="fa fa-sign-out"></i></a>
						</div>
					</div>
				</div>
			<% else %>
			<button class="sidebar-login-buttons clouds-flat-button" type="button" data-toggle="modal" data-target="#loginregister">Login/Register</button>
			<% end %>
			<div id="vertical-ticker">
				<div class="headertitle">Updates</div>
				<div class="ticker-wrapper">
				<div name="pinnacle-ticker" v-ticker="{speed: 400,pause: 6000}">
					<ul>
						<li ng-repeat="update in updates"><a href="{{ update.url }}">{{ update.title }}</a></li>
					</ul>		
				</div>
				</div>
			</div>
			<div class="fb-like" data-href="https://www.facebook.com/PinnacleCEG" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
			<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-annotation="inline" data-width="300"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
			<div class="piamb">
					<a href="/piambassador"><img src="/assets/button.png"></a>
				</div>
		</div>
		<div class="col-md-9">
			<div my-slides="slides" id="slides">
				<img ng-repeat="slide in slides" ng-src="/slider/images/{{ slide.id }}_original.jpg">
			</div>
		</div>
	</div>
	<div class="row" ng-controller="HomeCntl">
			<div class="col-md-3">
				
				<div my-slides="sponsors" name="sponsor-slide">
					<a ng-repeat="sponsor in sponsors"  href="{{ sponsor.url }}" target="_blank">
						<span>{{ sponsor.category }}</span>
						<img src="/assets/images/{{ sponsor.id }}_original.png">
					</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row" id="grid">
					<div class="col-md-4 grid">
						<a href="/events/contraptions" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
							<figure>
								<img src="/assets/contraptions.png" />
								<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,100 0,150 0,0 180,0 z"/></svg>
								<figcaption>
									<h2>Contraption</h2>
									<p></p>
									<button>View</button>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 grid">
						<a href="/events/godspeed" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
							<figure>
								<img src="/assets/godspeed.png" />
								<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,100 0,150 0,0 180,0 z"/></svg>
								<figcaption>
									<h2>God Speed</h2>
									<p></p>
									<button>View</button>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 grid">
						<a href="/events/robowrestling" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
							<figure>
								<img src="/assets/realsteel.png" />
								<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,100 0,150 0,0 180,0 z"/></svg>
								<figcaption>
									<h2>Robo Wrestling</h2>
									<p></p>
									<button>View</button>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
			</div>
		</div>
