
<% if @category == 'event' %>
				<div class="row" style="margin-top: 50px;">
					<div class="col-md-3">
						<div class="row" name="events-title">
							<hr class="pattern-2">
								<h1 class="events-header"><%= @event.name %></h1>
								<p class="events-venue"><i class="fa fa-map-marker"></i> <%= @event.venue %></p>
								<p class="events-venue"><i class="fa fa-clock-o"></i> <%= @event.start_date %></p>
							<hr class="pattern-2">
						</div>
						<div class="row col-md-12" ng-controller="RegistrationCntl">
						<% if user_signed_in? %>
							<div class="sidebar-login-buttons profile-holder">
					<div class="row">
						<div class="col-lg-2">
							<img src="<%= gravatar_image_url(current_user.email.gsub('spam', 'mdeering'), filetype: :png, rating: 'pg', size: 30, secure:false ) %>" class="short-profile-image">
						</div>
						<div class="col-lg-8">
							<%= current_user.profile.name %>
							<%= current_user.email %>
						</div>
						<div class="col-lg-2">
							<a href="/profile" class="btn btn-info btn-xs"><i class="fa fa-arrow-circle-o-right"></i></a>
							<a href="/logout" class="btn btn-danger btn-xs"><i class="fa fa-sign-out"></i></a>
						</div>
					</div>
				</div>
						<% end %>

						<% if @registration  %>
							<p class="events-venue"> Registered </p>
						<% else %>				
							<button class="graphite-flat-button" id="registerButton" data-toggle="modal" 
								<% if user_signed_in? %> 
									<% if current_user.profile.profilecomplete == "1" %>
									data-target="#eventModal" 
									<% else %>
									onclick="location.href='/profile';"
									<% end %>
								<% else %> 
									data-target="#loginregister" 
								<% end %>
							>Register</button>
						<% end %>
						</div>
					</div>
					<div class="col-md-9">
					<div class="page-content-holder">
						<div class="row">
							<% if(@event.cover_image_file_name) %>
							<img src="<%= @cover %>" class="pinnacle-cover-image">
							<% end %>
						</div>
						<div class="row">
							<div class="col-md-9">
								<div class="tab-content">
								<% JSON.parse(@event.tabs).each_with_index do |t,index| %>
 									<div class="tab-pane <% if index == 0 %> active <% end %>" id="<%= index %>">
 										<%= raw(t['content']) %>
 									</div>
 								<% end %>
								</div>
							</div>
							<div class="col-md-3">
								<ul class="nav nav-tabs" name="pinnacle-sidebar">
									<% JSON.parse(@event.tabs).each_with_index do |t,index| %>
										<li><a href="#<%= index %>" data-toggle="tab"><%= t['title'] %></a><li>
									<% end %>
								</ul>
							</div>							
						</div>
					</div>
					</div>
				</div>
				<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  					<div class="modal-dialog" ng-controller="RegistrationCntl">
  					<% if user_signed_in? %> 
  						<div class="modal-content">
      						<div class="modal-header">
        						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      							<h4 class="modal-title" id="eventModalLabel">Registration for <%= @event.name %></h4>
      						</div>
      						<% if @event.id != 14 %>
      						<div class="modal-body">

      							<div ng-show="regShow">
									<input type="hidden" id="regitem_id" value="<%= @event.id %>">
									<input type="hidden" id="regcategory" value="event">
								</div>
								<p class="modal-pinnacle-id"><%= current_user.profile.pinnacleid %></p>
								<p class="modal-pinnacle-name"><%= current_user.profile.name %></p>
								<p ng-show="regShow">Clicking Accept will enroll yourself in this event (<%= @event.name %>).</p>
							</div>
							<div class="modal-body">
								<p>	{{ regMessage.status }} </p>
							</div>
							<div class="modal-footer" ng-show="regShow">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Reject</button>
								<button type="button" data-loading-text="Registering..." class="btn btn-primary" id="registerbutton" ng-click="submitRegistration()" ng-hide="regDisable">Accept</button>
							</div>
							<% else %>
								<a href="/rebus" class="btn btn-primary btn-block" id="registerbutton">Play</a>
							<% end %>
      					</div>
      				<% end %>
  					</div>
  				</div>
<% elsif @category == 'workshop' %>
	<div class="row" style="margin-top: 50px">
					<div class="col-md-3">
						<div class="row" name="events-title">
							<hr class="pattern-2">
								<h1 class="events-header"><%= @event.name %></h1>
								<p class="events-venue"><i class="fa fa-map-marker"></i> <%= @event.venue %></p>
								<p class="events-venue"><i class="fa fa-clock-o"></i> <%= @event.start_date %></p>
							<hr class="pattern-2">
						</div>
						<div class="row col-md-12" ng-controller="RegistrationCntl">
							<% if user_signed_in? %>
							<div class="sidebar-login-buttons profile-holder">
					<div class="row">
						<div class="col-lg-2">
							<img src="<%= gravatar_image_url(current_user.email.gsub('spam', 'mdeering'), filetype: :png, rating: 'pg', size: 30, secure:false ) %>" class="short-profile-image">
						</div>
						<div class="col-lg-8">
							<%= current_user.profile.name %>
							<%= current_user.email %>
						</div>
						<div class="col-lg-2">
							<a href="/profile" class="btn btn-info btn-xs"><i class="fa fa-arrow-circle-o-right"></i></a>
							<a href="/logout" class="btn btn-danger btn-xs"><i class="fa fa-sign-out"></i></a>
						</div>
					</div>
				</div>
						<% end %>

						<% if @registration  %>
							<p class="events-venue"> Registered </p>
						<% else %>
							<button class="graphite-flat-button" id="registerButton" data-toggle="modal"
								<% if user_signed_in? %> 
									<% if current_user.profile.profilecomplete == "1" %>
									data-target="#workshopModal" 
									<% else %>
									onclick="location.href='/profile';"
									<% end %>
								<% else %> 
								data-target="#loginregister" 
								<% end %>
							>Register</button>
						<% end %>
						</div>
					</div>
					<div class="col-md-9">
					<div class="page-content-holder">
						<div class="row">
							<% if(@event.cover_image_file_name) %>
							<img src="<%= @cover %>" class="pinnacle-cover-image">
							<% end %>
						</div>
						<div class="row">
							<div class="col-md-9">
								<div class="tab-content">
								<% JSON.parse(@event.tabs).each_with_index do |t,index| %>
									<div class="tab-pane <% if index == 0 %> active <% end %>" id="<%= index %>">
									<%= raw(t['content']) %>
									</div>
								<% end %>
								</div>
							</div>
							<div class="col-md-3">
								<ul class="nav nav-tabs" name="pinnacle-sidebar">
									<% JSON.parse(@event.tabs).each_with_index do |t,index| %>
										<li><a href="#<%= index %>" data-toggle="tab"><%= t['title'] %></a><li>
									<% end %>
								</ul>
							</div>							
						</div>
					</div>
					</div>
				</div>
				<div class="modal fade" id="workshopModal" tabindex="-1" role="dialog" aria-labelledby="workshopModalLabel" aria-hidden="true">
  					<div class="modal-dialog" ng-controller="RegistrationCntl">
  					<% if user_signed_in? %> 
  						<div class="modal-content">
      						<div class="modal-header">
        						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      							<h4 class="modal-title" id="workshopModalLabel">Registration for <%= @event.name %></h4>
      						</div>
      						<div class="modal-body">
								<p class="modal-pinnacle-id"><%= current_user.profile.pinnacleid %></p>
								<p class="modal-pinnacle-name"><%= current_user.profile.name %></p>
      							<div ng-show="regShow">
      								<form action="javascript:void(0)" method="POST">
										<input type="hidden" id="regitem_id" value="<%= @event.id %>">
										<input type="hidden" id="regcategory" value="workshop">
										<div class="form-group">
											<input type="text" class="form-control" required ng-model="regdata.ddnumber" placeholder="DD Number">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" required ng-model="regdata.dddate" placeholder="DD Date">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" required ng-model="regdata.ddbank" placeholder="DD Bank">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" required ng-model="regdata.ddbranch" placeholder="DD Branch">
										</div>
									</form>
								</div>
								<p ng-show="regShow">Clicking Accept will enroll yourself in this workshop (<%= @event.name %>).</p>
							</div>
							<div class="modal-body">
								<p>	{{ regMessage.status }} </p>
							</div>
							<div class="modal-footer" ng-show="regShow">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Reject</button>
								<button type="button" data-loading-text="Registering..." class="btn btn-primary" id="registerbutton" ng-click="submitRegistration()" ng-hide="regDisable">Accept</button>
							</div> 
      					</div>
      				<% end %>
  					</div>
  				</div>
<% elsif @category == 'page' %>
    <div class="row" style="margin-top: 50px">
					<div class="col-md-3">
						<div class="row" name="events-title">
							<hr class="pattern-2">
								<h1 class="events-header"><%= @page.title %></h1>
							<hr class="pattern-2">
						</div>
					</div>
					<div class="col-md-9">
						<div class="page-content-holder">
							<%= raw @page.content %>
						</div>
					</div>
			</div>
<% end  %>
