	<div class="row" ng-controller="ProfileCntl">
		<input type="hidden" id="referer" ng-show="false" value="<%= request.referer %>">
		<div class="col-md-3">
			<% if user_signed_in? %>
				<div class="sidebar-login-buttons profile-holder">
					<div class="row">
						<div class="col-lg-2">
							<img src="<%= gravatar_image_url(current_user.email.gsub('spam', 'mdeering'), filetype: :png, rating: 'pg', size: 30, secure:false ) %>" class="short-profile-image">
						</div>
						<div class="col-lg-8">
							<%= current_user.profile.name %>
							<%= current_user.email %>
						</div>
						<div class="col-lg-2">
							<a href="/profile" class="btn btn-info btn-xs"><i class="fa fa-arrow-circle-o-right"></i></a>
							<a href="/logout" class="btn btn-danger btn-xs"><i class="fa fa-sign-out"></i></a>
						</div>
					</div>
				</div>
			<% else %>
			<button class="sidebar-login-buttons clouds-flat-button" type="button" data-toggle="modal" data-target="#loginregister">Login/Register</button>
			<% end %>
		</div>
		<div class="col-md-9">

			<div class="row">
				<div class="col-lg-10">
					<h1 class="profile-pinnacleid"><%= current_user.profile.pinnacleid %></h1>
				</div>
				<div class="col-lg-2">
					<img src="<%= gravatar_image_url(current_user.email.gsub('spam', 'mdeering'), filetype: :png, rating: 'pg', size: 100, secure:false ) %>" class="large-profile-image">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10">
				<% if(current_user.profile.piamb) %>
					<p style="color: #FFF; font-size: 20px;">You're a PiAmbassador</p>
					<p style="color: #FFF; font-size: 20px;"><%= Profile.where(referralid: current_user.profile.pinnacleid).count %> subscribed under you.</p>
				<% end %>
				</div>
			</div>
			<div class="row">
				<% if current_user.profile.profilecomplete != "1" %>
				<p>Please complete profile before registering.</p>
				<% end %>
			</div>
			<div class="row">
				<form class="form-horizontal" name="profile-form" action="javascript:void(0)" accept-charset="UTF-8" method="POST">
					<div class="form-group">
						<label class="col-md-2">Name</label>
						<div class="col-md-9">
							<input type="text" name="name" ng-value="<%= current_user.profile.name %>" ng-disabled="editEnable" ng-model="profile.name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2">Course</label>
						<div class="col-md-9">
						<span ng-hide="showcor">{{ profile.course }} <button class="btn btn-primary btn-xs pull-right" ng-click="showcor = !showcor">Change</button></span>
							<select ng-show="showcor" ng-model="profile.course" class="form-control">
								<option ng-repeat="course in courses" value="{{ course.value }}">{{ course.value }}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2">Branch</label>
						<div class="col-md-9">
							<span ng-hide="showbra">{{ profile.branch }} <button class="btn btn-primary btn-xs pull-right" ng-click="showbra = !showbra">Change</button></span>
							<select ng-show="showbra" ng-model="profile.branch" class="form-control">
								<option ng-repeat="branch in branches" value="{{ branch.value }}">{{ branch.value }}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2">Institution</label>
						<div class="col-md-9">
							<span ng-hide="showinst">{{ profile.institution }} <button class="btn btn-primary btn-xs pull-right" ng-click="showinst = !showinst">Change</button></span>
							<select ng-show="showinst" ng-model="profile.institution" class="form-control">
								<option ng-repeat="college in colleges" value="{{ college.value }}">{{ college.value }}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2">Year</label>
						<div class="col-md-9">
							<select name="year" ng-disabled="editEnable" class="form-control" ng-model="profile.year">
								<option value="1" <% if current_user.profile.year == "1" %> selected <% end %>>1</option>
								<option value="2" <% if current_user.profile.year == "2" %> selected <% end %>>2</option>
								<option value="3" <% if current_user.profile.year == "3" %> selected <% end %>>3</option>
								<option value="4" <% if current_user.profile.year == "4" %> selected <% end %>>4</option>
								<option value="5" <% if current_user.profile.year == "5" %> selected <% end %>>5</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2">Contact Number</label>
						<div class="col-md-9">
							<input type="text" name="branch" ng-value="<%= current_user.profile.phonenumber %>" ng-disabled="editEnable" ng-model="profile.phonenumber">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2">How did you come to know about PINNACLE?</label>
						<div class="col-md-9">
							<select ng-model="profile.how" class="form-control">
								<option value="1" <% if current_user.profile.how == "1" %> selected <% end %>>Social Network</option>
								<option value="2" <% if current_user.profile.how == "2" %> selected <% end %>>Friends</option>
								<option value="3" <% if current_user.profile.how == "3" %> selected <% end %>>PI Ambassador</option>
								<option value="4" <% if current_user.profile.how == "4" %> selected <% end %>>College Administration</option>
								<option value="5" <% if current_user.profile.how == "5" %> selected <% end %>>PI Marketing Volunteers</option>
							</select>
						</div>
					</div>
					<div class="form-group" ng-if="profile.how == 3">
						<label class="col-md-2">REFERRAL ID</label>
						<div class="col-md-9">
							<input type="text" class="form-control" ng-value="<%= current_user.profile.referralid %>" ng-disabled="editEnable" ng-model="profile.referralid">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-3 col-md-offset-3">
							<button ng-click="submitProfile()" class="btn btn-primary">Save Profile</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-3 col-md-offset-3">
							<div class="label label-info">{{ profilemessage.status }}</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>