<div class="col-md-3">
	<% if user_signed_in? %>
							<div class="sidebar-login-buttons profile-holder">
					<div class="row">
						<div class="col-lg-2">
							<img src="<%= gravatar_image_url(current_user.email.gsub('spam', 'mdeering'), filetype: :png, rating: 'pg', size: 30, secure:false ) %>" class="short-profile-image">
						</div>
						<div class="col-lg-8">
							<%= current_user.profile.name %>
							<%= current_user.email %>
						</div>
						<div class="col-lg-2">
							<a href="/profile" class="btn btn-info btn-xs"><i class="fa fa-arrow-circle-o-right"></i></a>
							<a href="/logout" class="btn btn-danger btn-xs"><i class="fa fa-sign-out"></i></a>
						</div>
					</div>
				</div>
						<% end %>
</div>
<div class="col-md-9">
	<div class="page-content-holder">
		<p><%= @message %></p>
	</div>
</div>