<div ng-controller = 'updateController' class='col-md-12'>

	<ul class="nav nav-tabs cmsTab">
	  <li class='active'><a href="#index" data-toggle="tab">All Updates</a></li>
	  <li><a href="#settings" data-toggle="tab">Settings</a></li>
	</ul>

	
	<div class="tab-content">
	  <div class="tab-pane fade in active" id="index">
	  	<br>
	  	<div class="panel panel-success">
		  <div class="panel-heading">Add new Update</div>
		  <div class="panel-body">
		    <form ng-submit = 'postUpdate()'>
		    	<div class="input-group">
		    	  <span class="input-group-addon">Title</span>
				  <input type='text' name='title' ng-model='update.title' class='form-control' placeholder='update title'/>
				  <span class="input-group-addon">Enabled <input type='checkbox'  ng-model='update.enabled'></span>
				</div>
				<div class="input-group">
		    	  <span class="input-group-addon"><%= SITE_URL %></span>
		    	  <input type = 'hidden' ng-model='update.order' value = '{{updates.length}}'>
				  <input type='text' name='url' ng-model='update.url' class='form-control' placeholder='update url example(/courses/b-tech) '/>
				</div>
				
					<textarea ng-model='update.content' placeholder = 'Content (if any)' class='form-control'></textarea>
				
				<br>
				
				<input type='submit' class='btn btn-success' value = 'Save Update'  name='Save Update' ng-model='saveButton'>
				<input type='reset' class='btn btn-danger' name='Reset' >
			</form>
		  </div>
		</div>
	  	<div class="panel panel-primary">
		  <div class="panel-heading">List of Updates</div>
		  <div class="panel-body">
		    <table class='table table-responsive' >
		  		<thead>
		  			<tr>
			  			<th> S.No</th>
			  			<th> Title </th>
			  			<th> URL</th>
			  			<th> Details </th>
			  			<th> Action </th>
		  			</tr>
		  		</thead>
		  		
		  		<tr ng-repeat = 'item in updates | orderBy:item.order' >
		  			<td>{{$index+1}}</td>
		  			<td>{{item.title}}</td>
		  			<td>{{item.url}} </td> {{item.order = $index}}
		  			<td class='timestamps'>
		  				Created : {{item.created_at | date:'yyyy-MM-dd' }}<br>
		  				Modified: {{item.updated_at | date:'yyyy-MM-dd' }}<br>
		  				Enabled : {{item.enabled || false}}
		  			</td>
		  			<td>
		  					<button class='btn btn-info btn-sm' ng-click = 'editEnable(item.id,$index)'><span class='fa fa-pencil'></span> EDIT</button>
		  					<button class='btn btn-danger btn-sm' ng-click = 'deleteUpdate(item.id)'><span class='fa fa-times'></span> DELETE</button>
		  			</td>
		  		</tr>
	  		</table>

		  </div>
		</div>
		<div class="panel panel-primary">
		  <div class="panel-heading">Order of listing</div>
		  <div class="panel-body">
			<ul ui-sortable = 'sortableOptions' ng-model='updates'>
		  			<li class='no-style' ng-repeat = 'item in updates | orderBy:item.order'> 
		  				{{item.title}} 
		  				<span class ='fa fa-bars pull-right'></span>

		  			</li>
			</ul>
			</div>
		</div>

		
	  
	  </div>
	
	  <div class="tab-pane fade" id="settings">
	  </div>
	</div>
	
</div>