
<div ng-controller="sponsorController" class = 'col-md-12'>
  

	<!--	<div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">or drop files here</div>
		<div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
		<br/>
		<input type="checkbox" ng-model="uploadRightAway">Upload right away
		<br/>
		<br/>
		Progress:
		<br/>
		<br/>-->

		<fieldset>

		<legend>Upload Image</legend>

			<div class="form-group col-md-4">
   				<label for="name" class="control-label">Title</label>
   				<input ng-model="title" name="name" type="text" placeholder="image name" class="form-control">
			</div>

			<div class="form-group col-md-4">
   				<label for="name" class="control-label">URL</label>
   				<input ng-model="url" name="url" type="text" placeholder="url" class="form-control">
			</div>

			<div class="form-group col-md-4">
   				<label for="name" class="control-label">Category</label>
   				<!-- <input ng-model="category" name="name" type="text" placeholder="image name" class="form-control"> -->
   				<select ng-model="category" class="form-control">
   					<option value="Event Sponsor">Event Sponsor</option>
   					<option value="Co Sponsor">Co Sponsor</option>
   					<option value="Title Sponsor">Title Sponsor</option>
   					<option value="Printing Sponsor">Printing Sponsor</option>
   					<option value="Workshop Sponsor">Workshop Sponsor</option>
   					<option value="Workshop Partner">Workshop Partner</option>
   					<option value="Media Sponsor">Media Sponsor</option>
                    <option value="Education Partner">Education Partner</option>
                    <option value="Student Opportunity Partner">Student Opportunity Partner</option>
                    <option value="Online Marketing Partner">Online Marketing Partner</option>
   					<option value="Technology Sponsor">Technology Sponsor</option>
   				</select>
			</div>			

			<div class="form-group col-md-4">
			  <label class="control-label" for="file">Choose File:</label>
			  <input type="file" name = "file"ng-file-select="onFileSelect($files)"> 
			</div>

		</fieldset>

			<div class = "jumbotron" ng-show="selectedFiles != null">
				<div class="sel-file" ng-repeat="f in selectedFiles">
					<img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
					<button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Upload</button>
					<span class="progress" ng-show="progress[$index] >= 0">						
						<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
					</span>				
					<button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
					{{f.name}} - size: {{f.size}}B - type: {{f.type}}
				</div>
			</div>


		<fieldset>

			<legend>Existing Images</legend>

			<div ng-repeat = "item in imageFiles" class="col-xs-6 col-md-3">
			      <div>
			      	Title: {{item.title}} </br>
			      	Category: {{item.category}}
			      </div>
			      <img ng-src = {{item.image_path}} />
				  <button ng-click = "deleteImage(item.id,$index)" class = "btn btn-danger">X</button>
			</div>

		</fieldset>	


		<!--
		<div class="response" ng-show="uploadResult.length > 0">
			Server Response:
			<ul>
				<li ng-repeat="result in uploadResult">
					<ul>
						<li ng-repeat="item in result">
							<div data-ng-show="item.name">file name: {{item.name}}</div>
							<div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
							<div data-ng-show="item.size">size on the serve: {{item.size}}</div>
							<div data-ng-show="item.value">value: {{item.value}}</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
-->
</div>
