			<footer class="row" role="footer">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<img src="/assets/ceg.png" class="ceg-logo">
									</div>
									<div class="row">
										<img src="/assets/annauniv.png" class="univ-logo">
									</div>
								</div>
								<div class="col-md-6">
									<p class="quicklinks-title">Events</p>
									<hr class="hairline">
									<ul class="list-unstyled footer-links">
										<li><a href="/events/robowrestling"><i class="fa fa-angle-double-right"></i> Robo Wrestling</a></li>
										<li><a href="/events/contraptions"><i class="fa fa-angle-double-right"></i> Contraptions</a></li>
										<li><a href="/events/godspeed"><i class="fa fa-angle-double-right"></i> God Speed</a></li>
										<li><a href="/events/offshore"><i class="fa fa-angle-double-right"></i> Off-Shore Cruiser</a></li>
										<li><a href="/events/deathrace"><i class="fa fa-angle-double-right"></i> Death Race</a></li>
										<li><a href="/events/imotoauto"><i class="fa fa-angle-double-right"></i> I-Moto</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<p class="quicklinks-title">Workshops</p>
									<hr class="hairline">
									<ul class="list-unstyled footer-links">
										<li><a href="/workshops/autoanatomy"><i class="fa fa-angle-double-right"></i> Auto-Anatomy</a></li>
										<li><a href="/workshops/adcasting"><i class="fa fa-angle-double-right"></i> Advanced Industrial Casting & Forming</a></li>
										<li><a href="/workshops/augmentedreality"><i class="fa fa-angle-double-right"></i> Real-Time Interactive Modelling</a></li>
									</ul>
								</div>
								<div class="col-md-6">
									<div class="row">
									<a href="https://www.facebook.com/sme.ceg" target="_blank"><img src="/assets/sme.png" class="assoc-logo"></a>
									</div>
                                    <div class="row">
                                        <p class="copyright-text" style="padding: 10px; text-align:center;">
                                        Society of Mechanical Engineers<br>
                                        Central Workshop Division<br>
Department of Mechanical Engineering<br>
CEG Campus, Anna University, Ch - 25<br>
                                            
                                        </p>
                                    </div>
								</div>
									
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<p class="copyright-text">&nbsp;</p>
								</div>
								<div class="col-md-6">
									<ul class="copyright-social-text">
										<li><a href="https://www.facebook.com/PinnacleCEG" target="_blank" class="facebook"><img src="/assets/facebook.png" width="25"></a></li>
										<!--li><a href="" class="twitter"><i class="fa fa-twitter"></i></a></li-->
										<li><a href="https://plus.google.com/118294013574325141144/about" target="_blank" class="googleplus"><img src="/assets/google.png" width="25"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<p class="copyright-text">&copy Copyright 2014. Pinnacle CEG</p>
								</div>	
								<div class="col-md-6">
									<p class="copyright-text pull-right">
									<span class="pull-right" style="padding: 0 10px;">powered by</span><br>
									<a href="https://www.facebook.com/tesarkTech" target="_blank">
										<img src="/assets/tesark.png" width="100" style="margin: 0 0px;">
									</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<script>
				  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				  ga('create', 'UA-47215577-1', 'pinnacleceg.com');
				  ga('send', 'pageview');

			</script>
