			<header role="header">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-6">&nbsp;</div>
								<div class="col-lg-6">
									<!-- <img src="/assets/dates.png" class="dates-holder"> -->
									<div class="dates-holder">
										March <br>13, 14, 15
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row">
							&nbsp;
							</div>
						</div>
					</div>
				</div>
			</header>