<div class="modal fade" id="loginregister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">	
	<div class="modal-dialog">
		<div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; CLOSE</button>
	        	<h4 class="modal-title" id="myModalLabel">LOGIN</h4>
	      	</div>
	     	<div class="modal-body">
				<div class="row col-md-12">
					<div class="col-md-6">
						<button class="modal-login-buttons peter-river-flat-button" type="button" onclick="window.location.href='/users/auth/facebook'"><i class="fa fa-facebook-square"></i> Login with Facebook</button>
						<button class="modal-login-buttons nephritis-flat-button" type="button"  onclick="window.location.href='/users/auth/google_oauth2'"><i class="fa fa-google-plus-square"></i> Login with Google</button>
					</div>
					<div class="col-md-6">
						<div class="row">
							<a href="javascript:void(0)" id="loginTab" data-toggle="tab">Login</a> | 
							<a href="javascript:void(0)" id="registerTab" data-toggle="tab">Register</a>
						</div>
						<div class="row">
						<form id="loginTabForm" class="form-horizontal" name="loginform" method="POST" action="/users/sign_in" accept-charset="UTF-8">
							<p>Login with email address</p>
							<div class="form-group">
								<input name="utf8" type="hidden" value="&#x2713;" />
								<input name="authenticity_token" type="hidden" value="wRD48xr0i+LnSf2eWOr6PtIDeHwzzcuLaZ/AOORhWFw=" />
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<input type="email" class="form-control" name="user[email]" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<input type="password" class="form-control" name="user[password]" placeholder="Password">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<button type="submit">Sign in <i class="fa fa-angle-right"></i></button>
								</div>
							</div>
						</form>
						<form id="registerTabForm" accept-charset="UTF-8" action="/users" class="form-horizontal" method="post" style="display:none;">
							<p>Register with email address</p>
							<div class="form-group">
								<input name="utf8" type="hidden" value="&#x2713;" />
								<input name="authenticity_token" type="hidden" value="wRD48xr0i+LnSf2eWOr6PtIDeHwzzcuLaZ/AOORhWFw=" />
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<input type="email" class="form-control" name="user[email]" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<input type="password" class="form-control" name="user[password]" placeholder="Password">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<input type="password" class="form-control" name="user[password_confirmation]" placeholder="Confirm Password">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<button type="submit">Sign Up <i class="fa fa-angle-right"></i></button>
								</div>
							</div>
						</form>
						</div>
					</div>
				</div>
				<div class="row col-lg-12">
					<p style="color: #FFF; font-weight: bold; border-top: 1px dashed #FFF; padding: 10px 0; margin-top: 20px;">
						Do you have what it takes to rally your fellow techies and win rewards at the same time?<br>
						<a href="/piambassador">Click Here</a> to know more about P! Ambassador Program.
					</p>
				</div>
			</div>
	    </div>
    </div>
</div>