			<nav role="navigation" ng-controller="MenuCntl">
				<div class="row">
					<ul class="nav nav-pills nav-justified" name="pinnacle-nav">
						<li ng-repeat="m in mainnav | filter: {level: 1} | orderBy:'order'"><a href="javascript:void(0)" ng-click="opLevel2(m.id,$index,m.url)">{{ m.title }}</a></li>
						<div name="pinnacle-logo"></div>
						<div name="pinnacle-text"></div>
					</ul>
					<!-- <ul class="nav nav-pills nav-justified" name="pinnacle-nav">
			  			<li><a href="/">Home</a></li>
			  			<li><a href="#" ng-click="pullSubMenu('sponsors')">Sponsors</a></li>
			  			<li><a href="#" ng-click="pullSubMenu('event')">Events</a></li>
			  			<li><a href="#" ng-click="pullSubMenu('workshop')">Workshops</a></li>
			  			<li><a href="#" ng-click="pullSubMenu('proshow')">Proshows</a></li>
			  			<li><a href="#">Hospitality</a></li>
			  			<li><a href="#" ng-click="pullSubMenu('about')">About</a></li>
			  			<li><a href="#" ng-click="pullSubMenu('contact')">Contact</a></li>
						
					</ul> -->
				</div>
				<div class="nav-submenu">
					<ul class="nav nav-pills" id="pinnacle-subnav">

                        <li ng-repeat="m in mainnav | filter: {level: 2, parent_id: level2fil} | orderBy:'order' " ng-click='opLevel3(m.id,$index,m.url)' ng-show="subShow">
							<a href="javascript:void(0)" ng-bind-html='m.title'>{{ m.title }}</a>
						</li>
					</ul>
					 
					<span class="before"> </span>
					<span class="after"> </span>
				</div>
				<div class="nav-secmenu" ng-show="secshow">
					<hr class="hairline">
					<ul class="nav nav-pills">
						<li ng-repeat="m in mainnav | filter: {level: 3, parent_id: level3fil} | orderBy:'order' ">
                        <a href="{{ m.url }}" >{{ m.title }}</a>
						</li>
					</ul>
					<hr class="hairline">
				</div>
			</nav>
