<script type="text/ng-template" id="home.html">
	<div class="row">
		<div class="col-md-3">
			<button class="sidebar-login-buttons clouds-flat-button" type="button" data-toggle="modal" data-target="#loginregister">Login/Register</button>
			<div id="vertical-ticker">
				<div class="headertitle">Updates</div>
				<div class="ticker-wrapper">
				<div name="pinnacle-ticker" v-ticker="{speed: 400,pause: 6000}">
					<ul>
						<li ng-repeat="update in updates"><a href="{{ update.url }}">{{ update.title }}</a></li>
					</ul>		
				</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div my-slides="slides" id="slides">
				<img ng-repeat="slide in slides" ng-src="/slider/images/{{ slide.id }}_original.jpg">
			</div>
		</div>
	</div>
	<div class="row">
			<div class="col-md-3">
				<div class="piamb">
					<a href="/piambassador"><img src="/assets/button.png"></a>
				</div>
				<div my-slides="slides" name="sponsor-slide">
					<img src="/assets/s1.jpg" width="100">
					<img src="/assets/s2.jpg" width="100">
				</div>
			</div>
			<div class="col-md-9">
				<div class="row" id="grid">
					<div class="col-md-4 grid">
						<a href="/events/contraptions" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
							<figure>
								<img src="/assets/contraptions.png" />
								<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,100 0,150 0,0 180,0 z"/></svg>
								<figcaption>
									<h2>Contraption</h2>
									<p></p>
									<button>View</button>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 grid">
						<a href="/events/godspeed" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
							<figure>
								<img src="/assets/godspeed.png" />
								<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,100 0,150 0,0 180,0 z"/></svg>
								<figcaption>
									<h2>God Speed</h2>
									<p></p>
									<button>View</button>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 grid">
						<a href="/events/realsteel" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
							<figure>
								<img src="/assets/realsteel.png" />
								<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,100 0,150 0,0 180,0 z"/></svg>
								<figcaption>
									<h2>Real Steel</h2>
									<p></p>
									<button>View</button>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/ng-template" id="events.html">
	Check
</script>
<script type="text/ng-template" id="nonfound.html">
	Not Found
</script>
