<div ng-controller = 'rebusController' class = 'col-md-12'>

<div class = "container">

<ul class="nav nav-tabs list-group">
	<li class = "cmsTab" ng-repeat = "round in rounds"><a href = "#{{$index + 1}}" data-toggle = "tab">Round {{$index + 1}}</a></li>
	<button class='btn btn-success pull-right' ng-click = "newRound()">New Round</button>
</ul>


<div class="tab-content">


  <div class="tab-pane" ng-repeat = "round in rounds" id = "{{$index + 1}}">
  	
  	<div class="panel panel-primary">
  	<div class="panel panel-body">



  		<ul class = "nav nav-tabs list-group">

  			<li class = "qTab" ng-repeat = "Q in round"><a href = "#r{{$parent.$index}}q{{$index +1}}" data-toggle = "tab">Question {{$index + 1}}</a></li>

  		</ul>


  		<div class = "tab-content">

  			  <div class="tab-pane" ng-repeat = "Q in round" id = "r{{$parent.$index}}q{{$index + 1}}">

			        <div class = "panel panel-primary">        
  			  	  	<div class = "panel panel-body">

  			  	  		<form ng-submit = "updateQ($parent.$index, $index)">

			                <div class = "form-group input-group">
			                  <label for = "question">Question</label>			               
			                  <textarea ck-editor="" name = "question" class = "form-control" ng-model = "Q.question"></textarea>
			                </div>

			                <div class = "form-group input-group">
			                  <label for = "answer">Answer</label>			                  
			                  <textarea name = "content" class = "form-control" ng-model = "Q.answer"></textarea>
			                </div>

			                <div class = "form-group input-group">
			                  <label for = "close">Hints</label>
			                  <textarea name = "close" class = "form-control" ng-model = "Q.close_answer"></textarea>
			                </div>

			                <button type = "submit" class = "btn btn-success">Submit</button>

			            </form>

			        </div>    
  			  	  	</div>

  			  </div>

   	</div>

  </div>
  </div>


</div>

</div>

</div>
