<div class="container">
<div class="col-md-5">
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => "form-horizontal") do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, :class => "form-control"  %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :class => "form-control" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-primary"  %></div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>