<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user[:name] %>,</p>
    <p>
      Thank you for registering with us for <%= @user[:eventname] %> Event conducted during PINNACLE 2014. For more events and workshop kindly visit <a href="http://pinnacleceg.com">Pinnacle 2014</a>
    </p>
    <p>
      Regards,<br>
      PINNACLE 2014
    </p>
  </body>
</html>