<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello PI Ambassador,</p>
    <p>Welcome to the world of Marketing !</p>
    <p>The Pinnacle ID <%= @user[:pinnacleid] %> under which you have registered is your referral code.</p>
    <p>So you really feel that you have the impulse to rally your fellow techies. The stage set up by us is all yours.To be the pivot for your peers, you need to :</p>
    <p>1. Add as many people as possible under your Referral code.
    Whenever a participant registers under an event or a workshop, he has to be signed in on the website for which he must fill a profile. While filling the profile form, ask your friends and colleagues to answer the question "HOW DID YOU COME TO KNOW ABOUT PINNACLE " as PI Ambassador and enter your referral code below.</p>
    <p>2. Be responsive to all the emails and text messages. The e-mails for which you have to respond will come from marketing@smeannauniv.org and calls, texts from +91 94422 74357.</p>
    <p>3. The marketing material will be provided by us through courier. You have to distribute it to the potential crowd at your college.</p>
    <p>These activities can lead you to become an Outstanding PI Ambassador and the benefits of which can be seen on the website <a href="http://www.pinnacleceg.com/piambassador">http://www.pinnacleceg.com/piambassador</a></p>
    <p>Best wishes for you to spread the word PINNACLE and succeed in this program.</p>
    <p>Cheers,<br>
      Secretary-Marketing,
      Society of Mechanical Engineers
      Anna University</p>
  </body>
</html>