<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user[:name] %>,</p>
    <p>
      Thank you for registering with us for <%= @user[:eventname] %> , a Placement-Recognized Workshop conducted during PINNACLE 2014. Kindly visit the Registration Details tab in the workshop page for pages details. 
    </p>
    <p>
      Regards,<br>
      PINNACLE 2014
    </p>
  </body>
</html>