
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="#">SME | CMS</a></li>
          <li><a href="/cms">Dashboard</a></li>
          <li><a href="/cms/event">Events</a></li>
          <li><a href="/cms/workshop">Workshops</a></li>
          <li><a href="/cms/slider">Sliders</a></li>
          <li><a href="/cms/category">Categories</a></li>
          <li><a href="/cms/page">Pages</a></li>
          <li><a href="/cms/update">Updates</a></li>
          <li><a href="/cms/registrations">Registrations</a></li>
          <li><a href="/cms/sponsor">Sponsors</a></li>
        
        </ul>
      </div>