<div ng-controller = "settingsController" class = "col-md-6">

<legend>Existing Maps</legend>

<div class = "col-md-12">
<table class = "table table-striped">

<tr>
	<th>S.No</th>
	<th>Category</th>
	<th>Item Id</th>
	<th>Url</th>
	<th>Created At</th>
	<th>Updated At</th>
</tr>

<tr ng-repeat = "item in maps">
	<td>{{item.id}}</td>
	<td>{{item.category}}</td>
	<td>{{item.item_id}}</td>
	<td>{{item.url}}</td>
	<td>{{item.created_at}}</td>
	<td>{{item.updated_at}}</td>
</tr>
	
</table>
</div>

</div>
