<% if @question %>
<div class="row">
	<div class="col-md-12">
		
		<div id="question-block">
			<div id="question-header">Question <%= @question.id %> - Round <%= @question.round %></div>
			<%= raw(@question.question) %>			
		</div>
		<% if flash[:notice] %>
			<div id="notice-block">
				<%= raw(flash[:notice]) %>
			</div>
		<% end %>
		<div class="answer-block">
			<form action="/rebus/answer" method="POST" id="rebus-answer-form">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<div class="form-group">
					<input type="hidden" name="roundno" value="<%= @question.round %>">
					<input type="hidden" name="questionno" value="<%= @question.id %>">
					<div class="col-md-10">
						<textarea class="form-control" name="answer" placeholder="Answer Here.."></textarea>
					</div>
					<div class="col-md-2">
						<button type="submit" class="btn btn-primary">Answer It..</button>
						<a href="/rebus/skip" class="btn skip-button">Skip <i class="fa fa-chevron-right"></i></a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<% else %>
<div class="row">
	<div class="col-md-12">
	<% if Rebus.where(pinnacleid: current_user.profile.pinnacleid).maximum("roundno") > Rebusqna.maximum("round") %>
		<div id="notice-block">
			<p>Looks like this is the end of line.</p>
			<p>Thank you for participating.</p>
		</div>
	<% else %>
		<div id="notice-block">
			<p>Wait for other levels to be updated.</p>
			<p>Level <%= Rebusqna.maximum("round")  %> would be updated shortly.</p>
		</div>
	<% end %>
	</div>
</div>
<% end %>