<div class="row">
  <div class="col-md-6">
    <h1 class="round-text">MENU</h1>
    <nav id="bt-navigation">
      <ul class="nav nav-stacked">
        <li><a href="/rebus/game"><i class="fa fa-play"></i> Start</a></li>
        <li><a href="/rebus/"><i class="fa fa-trophy"></i> Leaderboard</a></li>
        <li><a href=""><i class="fa fa-power-off"></i> Logout</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-6">
    <div class="engine-settings-splash">
    <div class="display">
      <div class="panel lights left">
        <div class="light"></div>
        <div class="light"></div>
        <div class="light"></div>
        <div class="light"></div>
        <div class="light"></div>
      </div>
      <div class="gear">
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="shadow"></div>
      </div>
      <div class="panel lights right">
        <div class="light"></div>
        <div class="light"></div>
        <div class="light"></div>
        <div class="light"></div>
        <div class="light"></div>
      </div>
    </div>
  </div>
  </div>
</div>
