<div class="row">
	<div class="col-md-12">
		<table class="table" id="rebus-table">
			<thead>
				<tr>
					<!-- <th scope="col">Rank</th> -->
					<th scope="col">Name</th>
					<th scope="col">Institution</th>
				</tr>
			</thead>

			<tbody>
				<% @leaders.each do |l| %>
					<% p = Profile.where(pinnacleid: l.pinnacleid).first %>
					<tr>
						<!-- <td></td> -->
						<td><%= p.name %></td>
						<td><%= p.institution %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>