<%= @word %><br>
<%= @word.count %>
<%= @word2 %><br>
<%= @word2.count %>
<% if !@intersection.empty? %>
  <%= @intersection.size %> Matches Found.
<% else %>
  No Matches Found.
<% end %>

<%= @percentage %>