<div ng-controller='userController'>
<h2>User Manager <div class="pull-right col-md-4"><input class="form-control " placeholder = 'Search in list' ng-model='query'></div></h2>
<hr>
<table class='table'>
	<tr>
		<th>S.No</th>
		<th>email</th>
		<!-- <th>Username</th> -->
		<th>Role</th>
		<th>Action</th>
	</tr>
	<tr ng-repeat='user in users | filter:query'>
		<td>{{$index}}</td>
		<td>{{user.email}}</td>
		<!-- <td>{{user.username}}</td> -->
		<td>{{user.role}}</td>
		<td>
			<button type="button" class="btn btn-primary btn-xs" ng-click='editEnable(user.id,$index)'> <i class="fa fa-edit"></i> Edit</button>
			<button type = "button" class = "btn btn-default btn-xs" ng-click = 'assignEnable(user.id,$index)'> <i class = "fa fa-check"></i> Assign</button>
			<button type="button" class="btn btn-danger btn-xs" ng-click='deleteEnable(user.id,$index)'> <i class="fa fa-times"></i> Delete</button>
		</td>
	</tr>
</table>




<!-- Only ModAL CODE -->

<!-- modal code below this -->
<div class="modal fade" id="assignEnable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Assign {{currentEdit.username}}  </h4>
      </div>
      <div class="modal-body">
       <form class="form-horizontal">
			<fieldset>

			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="email">Email</label>  
			  <div class="col-md-6">
			  <input id="email" name="email" type="text" placeholder="email id" class="form-control input-md" required="" ng-model='currentEdit.email' disabled>
			    
			  </div>
			</div>

			<!-- Text input-->
	<!-- 		<div class="form-group">
			  <label class="col-md-4 control-label" for="username">Username</label>  
			  <div class="col-md-6">
			  <input id="username" name="username" type="text" placeholder="stark12" class="form-control input-md" required="" ng-model='currentEdit.username'>
			    
			  </div>
			</div> -->

			<!-- Select Basic -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="role">Event</label>
			  <div class="col-md-6">
			    <select id="assign_event" name="list" class="form-control" ng-model='assigned.event'>
			     <option selected="selected" value = "999" disabled = "disabled">Select one</option>
			      <option ng-repeat = 'event in all_events' value="{{event.id}}">{{event.name}}</option>			     
			    </select>
			  </div>
			</div>

			<div class="form-group">
			  <label class="col-md-4 control-label" for="role">Workshop</label>
			  <div class="col-md-6">
			    <select id="assign_workshop" name="list" class="form-control" ng-model='assigned.workshop'>
			      <option selected="selected" value = "999" disabled = "disabled">Select one</option>    
			      <option ng-repeat = 'workshop in all_workshops' value="{{workshop.id}}">{{workshop.name}}</option>
			    </select>
			  </div>
			</div>

			</fieldset>
	  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click='saveAssign(currentAssign.id)'>Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ASSIGN MODAL -->

<div class="modal fade" id="editEnable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit {{currentEdit.username}}'s info </h4>
      </div>
      <div class="modal-body">
       <form class="form-horizontal">
			<fieldset>

			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="email">Email</label>  
			  <div class="col-md-6">
			  <input id="email" name="email" type="text" placeholder="email id" class="form-control input-md" required="" ng-model='currentEdit.email'>
			    
			  </div>
			</div>

			<!-- Text input-->
	<!-- 		<div class="form-group">
			  <label class="col-md-4 control-label" for="username">Username</label>  
			  <div class="col-md-6">
			  <input id="username" name="username" type="text" placeholder="stark12" class="form-control input-md" required="" ng-model='currentEdit.username'>
			    
			  </div>
			</div> -->

			<!-- Select Basic -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="role">Role</label>
			  <div class="col-md-6">
			    <select id="role" name="role" class="form-control" ng-model='currentEdit.role'>
			      <option value="super_admin">Super Admin</option>
			      <option value="admin">Admin</option>
			      <option value="event_admin">Event Admin</option>
			      <option value="page_admin">Page Admin</option>
			      <option value="workshop_admin">Workshop Admin</option>
			      <option value="student">Student</option>
			    </select>
			  </div>
			</div>

			</fieldset>
	  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click='updateUser()'>Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- END ASSIGN MODAL -->


<!-- alert box -->
<div class="modal fade" id="deleteEnable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete {{currentDelete.username}}'s info?</h4>
      </div>
      <div class="modal-body">
        <h2 style='color:red' >This action is irreversible!</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" ng-click='deleteUser()'>Yes,Delete!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div> <!-- starting div-->