<div ng-controller = 'eventController' class='col-md-12'>
<div class = 'container'>
<ul class="nav nav-tabs list-group">
  <li class = 'active cmsTab'><a href="#all" data-toggle="tab">All Events</a></li>
  <li class = 'cmsTab'><a href="#add" data-toggle="tab">Add</a></li>
  <li class = 'cmsTab'><a href="#edit">Edit</a></li>
  <a href='#add' class='btn btn-success pull-right' data-toggle = "tab">Create new Event</a>
</ul>

<div class="tab-content">


  <div class="tab-pane active" id="all">
  	<div class="panel panel-primary">
  		
  		<div class ="panel panel-heading">List of all Events</div>
  		<div class = "panel panel-body">
  		
  		<table class = "table table-responsive">
  				<thead>
  					<tr>
  						<th>S.No</th>
  						<th>Name</th>
  						<th>Details</th>
  						<th>Actions</th>
  					</tr>
  				</thead>
  				

  				<div>
  					<tr  ng-repeat = "event in events">
						  <td>{{event.name}}</td>
  						<td>{{event.venue}}</td>
  						<td class='timestamps'>
              Created : {{event.created_at | date:'yyyy-MM-dd' }}<br>
              Modified: {{event.updated_at | date:'yyyy-MM-dd' }}
              </td>
  						<td>
  							<button class = "btn btn-info btn-sm" ng-click = "editEnable(event.id,$index)"><span class = "fa fa-pencil"></span>  EDIT</button>
  							<button class = "btn btn-danger btn-sm" ng-click = "deleteEvent(event.id,$index)"><span class = "fa fa-times"></span>  DELETE</button>
  						</td>	
  					</tr>			
  				</div>

  		</table>

  		</div>
  	</div>

  </div>
  <!-- NEW EVENT FORM -->

  <div class="tab-pane" id="add">
  	<div class="panel panel-primary">
  		<div class = "panel panel-body">

  			<form ng-submit = 'postEvent()'>

  				<div class="form-group input-group">
    				<label for="name" class=" control-label" >Event Name</label>
    				<input type="text" required="required"  class="form-control" ng-model="new_event.name" placeholder="Enter name">
  				</div>

  				<div class="form-group input-group">
    				<label for="venue" class=" control-label">Event Venue</label>
    				<input type="text" class="form-control" ng-model="new_event.venue" placeholder="Enter venue">
  				</div>

          <div class="form-group input-group">
            <label for="venue" class=" control-label">Event URL</label>
            <div class = "input-group">
            <span class="input-group-addon"><%= SITE_URL %></span>
            <input type="text" required="required"  class="form-control" ng-model="new_event.url" ng-change = 'checkUrl(new_event.url)'>
            
          </div>
          <div class="alert alert-danger" ng-hide = "urlUnique">URL not Unique! Enter new URl. </div>
          </div>

  				<div class="checkbox">	
	    		<label>
   	   				<input type="checkbox" name = "registration_required" ng-model = "new_event.registration_required"> Registration required
   		 		</label>
  				</div>

          <div class="form-group input-group">
            <label for="category" class=" control-label">Event Category</label>
            <select class = "form-control" name = "category" ng-model = "new_event.category_id">
              
              <option selected="selected" value = "999" disabled = "disabled">Select one</option>

              <% @category.each do |item|%>

              <option value = "<%= item.id %>"> <%= item.secondary %> </option>

              <% end %>
            </select>
          </div>




				<input type='submit' class='btn btn-success' value = 'Save Event'  name='Save Event' ng-model='saveButton' ng-disabled = "!urlUnique">
				<input type='reset' class='btn btn-danger' name='Reset' >
			</form>
		</div>
  </div>
  </div>


  <!-- END NEW EVENT FORM -->


  <!-- EDIT EVENT -->
  <div class="tab-pane" id="edit">



    <div class="panel-heading">Edit {{editEvent.name}}</div>
      <div class = "panel panel-body panel-primary">

      <ul class="nav nav-tabs list-group">

          <li class = "active cmsTab"><a href="#content" data-toggle="tab">Contents</a></li>
          <li class="cmsTab"><a href="#tabs" data-toggle="tab" ng-click = "activeTab()">Tabs</a></li>
          <li class="cmsTab"><a href="#image" data-toggle="tab">Cover Image</a></li>
          <li class="cmsTab"><a href="#meta" data-toggle="tab">Meta</a></li>


      </ul>

        <div class = "tab-content">

          <div class="tab-pane active" id="content">
          <div class = "panel panel-body"
<!-- EDIT CONTENT -->
        <form ng-submit = 'updateEvent()'>
          <div class="form-group input-group">
            <label for="name" >Event Name</label>
            <input type="text" required="required"  class="form-control" ng-model="editEvent.name" placeholder="Enter name">
          </div>

          <div class="form-group input-group">
            <label for="venue">Event Venue</label>
            <input type="text" class="form-control" ng-model="editEvent.venue" placeholder="Enter venue">
          </div>

          <div class="form-group input-group">
            <label for="venue">Event URL</label>
            <input type="text" required="required"  required="required"  class="form-control" ng-change = "checkUrl(editEvent.url)" ng-model="editEvent.url" placeholder="Enter venue">
            <div class="alert alert-danger" ng-hide = "urlUnique">URL not Unique! Enter new URl. </div>
          </div>

          <div class="form-group input-group">
            <label for="start_date">Start Date</label>
            <input type="date" class="form-control" ng-model="editEvent.start_date" placeholder="Enter venue">
          </div>

          <div class="form-group input-group">
            <label for="end_date">End Date</label>
            <input type="date" class="form-control" ng-model="editEvent.end_date" placeholder="Enter venue">
          </div>

          <div class="checkbox">  
          <label>
              <input type="checkbox" name = "registration_required" ng-model = "editEvent.registration_required"> Registration required
          </label>
          </div>

          <div class="form-group input-group">
            <label for="category">Event Category</label>
            <select class = "form-control" name = "category" ng-model = "editEvent.category_id">
              
              <option selected="selected" value = "999" disabled = "disabled">Select one</option>

              <% @category.each do |item|%>

              <option value = "<%= item.id %>"> <%= item.secondary %> </option>

              <% end %>
            </select>
          </div>


          <input type = 'submit' class = 'btn btn-success' value = 'Save Event'  name='Save Event' ng-disabled = "!urlUnique"/>
        </form>

<!-- END EDIT CONTENT -->

          </div>
          </div>

          <div class="tab-pane" id="tabs">
            <div class = "panel panel-body">
            <ul class="nav nav-tabs list-group">

              <li class = "allTabs" ng-repeat = 'tab in editEvent.tabs'><a href="#tab{{$index}}" data-toggle="tab">{{tab.title}}</a></li>
              
              <li class = "allTabs"><a href = "#new" data-toggle = "tab">New Tab</a></li>

              <button ng-click = "tabShow()" class = "btn btn-default pull-right">New Tab</button>

            </ul>

            <div class = "tab-content">

            <div class="tab-pane" ng-repeat = "tab in editEvent.tabs" id="tab{{$index}}">

            <form ng-submit = "saveTab(false,$index)">
            
              <div class="form-group input-group">
                <label for="name">Tab Title</label>
                <input type="text" required="required"  class="form-control" ng-model = "tab.title" placeholder="Enter title">
              </div>

              <div class="form-group input-group">
                <label for="name">Tab Content</label>
                <text-angular ng-model='tab.content' ta-html-editor-class="form-control" ta-focussed-class="focussed" placeholder="Enter content"></text-angular>
                <!-- <textarea class="form-control" ng-model = "tab.content" placeholder="Enter content"></textarea> -->
              </div>

              <input type = "submit" class = "btn btn-success"/>
                </form>

                <form ng-submit = "saveTab('delete',$index)">
                <button type = "submit" class = "btn btn-danger">Delete Tab</button>
                </form>

            </div>

            <div class = "tab-pane" id = "new">
            
            <form ng-submit = "saveTab(true,$index)">
            
            <div class="form-group input-group">
                <label for="title">New Tab Title</label>
                  <input type="text" required="required"  class="form-control" name = "title" ng-model="newTab.title" placeholder="Enter     title">
                </div>

                <div class = "form-group input-group">
                  <label for = "content">New Tab Content</label>
                  <text-angular  name='content' ng-model='newTab.content'  ta-text-editor-class="content" ta-html-editor-class="form-control" ta-focussed-class="focussed" placeholder="Enter content"></text-angular>
                  <!-- <textarea name = "content" class = "form-control" ng-model = "newTab.content"></textarea> -->
                </div>
            
                <input type='submit' class='btn btn-success' value = 'Save Tabs'  name='Save Tabs' ng-model='saveButton'>

            </form>
            
            </div>

            </div>


          </div>
          </div>

          <div class="tab-pane" id="image">
            <div class = "panel panel-body">
              <legend> Choose a cover image </legend>
              <%= form_tag('/cms/events/file',{enctype: 'multipart/form-data', method: :post}) do %>
              <input type = 'hidden' name = 'event_id' value = '{{editEvent.id}}'>
              <label class="control-label" for="cover_image">Choose File:</label>
              <input type = 'file' name = 'cover_image'>
              <input type = 'submit' class = 'btn btn-success'></input>
              <% end %>
              <div class = "jumbotron">
              <img ng-src = {{editEvent.imageUrl}} />
              </div>
            </div>
          </div>


        <div class = "tab-pane" id = "meta">
          <div class = "panel panel-body">
          <form ng-submit = "saveMeta()">

            <div class="form-group input-group">
                <label for="title">Meta Title</label>
                <input name = 'title' type="text" required="required"  class="form-control" ng-model = "editEvent.meta.title" placeholder="Enter title">
            </div>

            <div class="form-group input-group">
                <label for="description">Description</label>
                <textarea name = "description"class="form-control" ng-model = "editEvent.meta.content" placeholder="Enter content"></textarea>
            </div>

            <input type = 'submit' class = 'btn btn-success'>
            <input type = 'reset' class = 'btn btn-danger'>


          </form>

        </div>
      </div>




    </div>
  </div>
  </div>
  <!-- END EDIT EVENT -->

</div>
</div>
</div>


