<div class='container'>
	<div class="row">
		<div class='col-md-3 info-column'>
			<%= @event || 0 %> <span>Events</span>
		</div>

		<div class='col-md-3 info-column'>
			<%= @user || 0 %> <span>Users</span>
		</div>

		<div class='col-md-3 info-column'>
			<%= @workshop || 0  %> <span>Workshops</span>
		</div>

		<div class='col-md-3 info-column'>
			<%= @sponsor || 0 %> <span>Sponsors</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"><h1>Marketing</h1></div>
		<div class="col-md-3 info-column">
			<%= Profile.where(how: "1").count %> <span>Social Media</span>
		</div>
		<div class="col-md-3 info-column">
			<%= Profile.where(how: "2").count %> <span>Friends</span>
		</div>
		<div class="col-md-3 info-column">
			<%= Profile.where(how: "3").count %> <span>PI Ambassador</span>
		</div>
		<div class="col-md-3 info-column">
			<%= Profile.where(how: "4").count %> <span>College Administration</span>
		</div>
		<div class="col-md-3 info-column">
			<%= Profile.where(how: "5").count %> <span>PI Marketing Volunteers</span>
		</div>
	</div>
</div>