<div class='container'>

	
    <%= form_tag save_menu_path , method: :post , :class => 'form-horizontal'  %>
	  <div class="form-group">

	    <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
	    <div class="col-sm-10">
	      <input type="text" name='title' class="form-control" id="inputEmail3" placeholder="Event / Workshop" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">URL</label>
	    <div class="col-sm-10">
	     <select class="form-control" name='url'>
	      	  <option value=''>None</option>
			  <option value="/">/</option>
	      	  <% @maps.each do |map| %>	
			  <option value="<%= map.url %>"><%= map.url %></option>
			  <% end %>
			</select>
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Parent</label>
	    <div class="col-sm-10">
	      
	      	<select class="form-control" name='parent_id'>
	      	  <option value=''>None</option>
	      	  <% @menus.each do |menu| %>	
			  <option value="<%= menu.id %>"><%= menu.backtrack if menu.parent %><%= menu.title %></option>
			  <% end %>
			</select>
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Level</label>
	    <div class="col-sm-4">
	      
	      	<select class="form-control" name='level'>
	      	  <option value='' disabled selected="selected">None</option>
			  <option value="1">Top</option>
			  <option value="2">Middle</option>
			  <option value="3">Bottom</option>
			</select>
	    </div>
	    <div class="col-sm-4">
	      
	      	<select class="form-control" name='category'>
	      	  <option value='' disabled selected="selected">None</option>
			  <option value="home">Home</option>
			  <option value="event">Event</option>
			  <option value="workshop">Workshop</option>
			  <option value="sponsor">Sponsor</option>
			  <option value="proshow">Proshow</option>
			  <option value="hospitality">Hospitality</option>
			  <option value="about">About</option>
			  <option value="contact">Contact</option>
			</select>
	    </div>
	     <div class="col-sm-2">
	      
	      	<input type='number' name='order' placeholder = 'Order' class='form-control'>
	    </div>
	  </div>
			  
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-primary">Add Menu</button>
	    </div>
	  </div>
	</form>
	<hr>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    List of Menu Items
	  </div>
	  <div class="panel-body">
	    <table class='table table-striped'>
		<thead>
			<tr>
				<td>Title</td>
				<td>URL</td>
				<td>Category</td>
				<td>Level</td>
				<td>Order</td>
				<td>Action</td>
			</tr>
		</thead>
		<% @menus.each do |menu| %>
			<tr>
				<td><%= menu.title %></td>
				<td><%= menu.url %></td>
				<td><%= menu.category %></td>
				<td><%= menu.level %></td>
				<td><%= menu.order %></td>
				<td><%= link_to 'Delete',delete_menu_url(menu.id), method: :delete, :class => 'btn btn-xs btn-default' %></td>
			</tr>
		<% end %>
	</table>
	  </div>
	</div>
	
	<hr>
	<h4>Hierarchy</h4>
	<% @top_menu.each do |menu| %>
    <div class='top_menu'>
		 <%= menu.title  %> ( <%= menu.url %> ) <%= link_to 'Delete',delete_menu_url(menu.id), method: :delete, :class => 'btn btn-xs btn-default' %>
		 <% menu.sub_menus.each do |sub_menu| %>
		 <div class='sub_menu'><%= sub_menu.title %> ( <%= sub_menu.url %> ) <%= link_to 'Delete',delete_menu_url(sub_menu.id), method: :delete, :class => 'btn btn-xs btn-default' %>
		 	<% sub_menu.sub_menus.each do |sub_sub_menu| %>
		 		<div class='sub_sub_menu'>
		 			<%= sub_sub_menu.title %>( <%= sub_sub_menu.url %> ) <%= link_to 'Delete',delete_menu_url(sub_sub_menu.id), method: :delete, :class => 'btn btn-xs btn-default' %>
		 		</div> 
		 	<% end %>
		 </div>		 
		 <% end %><hr>
	</div>
	<% end %>
</div>