<table class="table table-hover">
	<thead>
		<tr>
			<th>PID</th>
			<th>Name</th>
			<th>College</th>
			<th>Year</th>
			<th>Contact</th>
			<th>Count</th>
			<th>Action</th>
		</tr>
	</thead>	
	<tbody>
	<% @amb.each do |a| %>
		<tr>
			<td><%= a.pinnacleid %></td>
			<td><%= a.name %></td>
			<td><%= a.institution %></td>
			<td><%= a.year %></td>
			<td><%= a.phonenumber %> / <%= a.user.email %></td>
			<td><%= Profile.where(referralid: a.pinnacleid).count %></td>
			<td><a href="/cms/viewpi/<%= a.pinnacleid %>">View Users</a></td>
		</tr>
	<% end %>
	</tbody>
</table>