
<div class="col-md-3 info-column">
		<%= @subuser.count %> <span>Users</span>
</div>
<table class="table table-hovers">
	<thead>
		<tr>
			<th>PID</th>
			<th>Name</th>
			<th>Course</th>
			<th>Branch</th>
			<th>Institution</th>
			<th>Contact</th>
			<th>Year</th>
		</tr>
	</thead>
	<tbody>
	<% @subuser.each do |s| %>
		<tr>
			<td><%= s.pinnacleid %></td>
			<td><%= s.name %></td>
			<td><%= s.course %></td>
			<td><%= s.branch %></td>
			<td><%= s.institution %></td>
			<td><%= s.phonenumber %>/<%= s.user.email %></td>
			<td><%= s.year %></td>
		</tr>
	<% end %>
	</tbody>
</table>