<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
         <Cell><Data ss:Type="String">S.No.</Data></Cell>
       <Cell><Data ss:Type="String">PID</Data></Cell>
       <Cell><Data ss:Type="String">CATEGORY</Data></Cell>
       <Cell><Data ss:Type="String">EVENT/WORKSHOP</Data></Cell>
       <Cell><Data ss:Type="String">NAME</Data></Cell>
       <Cell><Data ss:Type="String">EMAIL</Data></Cell>
       <Cell><Data ss:Type="String">PHONENUMBER</Data></Cell>
       <Cell><Data ss:Type="String">BRANCH</Data></Cell>
         <Cell><Data ss:Type="String">COURSE</Data></Cell>
         <Cell><Data ss:Type="String">YEAR</Data></Cell>
         <Cell><Data ss:Type="String">INSTITUTION</Data></Cell>
         <Cell><Data ss:Type="String">PAYMENT</Data></Cell>
      </Row>
      <% i = 1 %>
   <% @reg.each do |r| %>
      <Row>
        <Cell><Data ss:Type="String"><%= i %></Data></Cell>
      <Cell><Data ss:Type="String"><%= r.user.profile.pinnacleid %></Data></Cell>
      <Cell><Data ss:Type="String"><%= r.category %></Data></Cell>
      <Cell><Data ss:Type="String"><% if r.category == "event" %> <%= Event.find(r.item_id).name %> <% else %> <%= Workshop.find(r.item_id).name %> <% end %></Data></Cell>
      <Cell><Data ss:Type="String"><%= r.user.profile.name %></Data></Cell>
      <Cell><Data ss:Type="String"><%= r.user.email %></Data></Cell>
      <Cell><Data ss:Type="String"><%= r.user.profile.phonenumber %></Data></Cell>
      <Cell><Data ss:Type="String"><%= r.user.profile.branch %></Data></Cell>
      <Cell><Data ss:Type="String"><%= r.user.profile.course %></Data></Cell>
      <Cell><Data ss:Type="String"><%= r.user.profile.year %></Data></Cell>
      <Cell><Data ss:Type="String"><%= r.user.profile.institution %></Data></Cell>
      <Cell><Data ss:Type="String"><%= r.payment %></Data></Cell>
      </Row>
      <% i = i+1 %>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>