<div class="row col-md-12">
	<div class="col-md-6 info-box">
		<%= form_tag('/cms/registrations',method: :post) do %>
			<div class="form-group">
				<label>Events</label>
				<input type="hidden" name="category" value="event">
				<select name="id" class="form-control">
					<% @all_events.each do |e| %>
						<option value = '<%= e.id %>'><%= e.name %></option>
					<% end %>
				</select>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		<% end %>
	</div>
	<div class="col-md-6 info-box">
		<%= form_tag('/cms/registrations',method: :post) do %>
			<div class="form-group">
				<label>Workshops</label>
				<input type="hidden" name="category" value="workshop">
				<select name="id" class="form-control">
					<% @all_workshops.each do |e| %>
						<option value = '<%= e.id %>'><%= e.name %></option>
					<% end %>
				</select>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		<% end %>
	</div>
</div>

<div class="row col-md-12">
<table class="table table-hover">
	<thead>
		<tr>
			<th>S.No.</th>
			<th>PID</th>
			<th>CATEGORY</th>
			<th>EVENT/WORKSHOP</th>
			<th>NAME</th>
			<th>EMAIL</th>
			<th>PHONENUMBER</th>
			<th>BRANCH</th>
			<th>COURSE</th>
			<th>YEAR</th>
			<th>INSTITUTION</th>
			<th>OTHERS</th>
			<th>PAYMENT</th>
			<th>DELETE</th>
		</tr>
	</thead>
	<tbody>
	<% i = 1 %>
	<% @reg.each do |r| %>
		<tr>
			<td><%= i %></td>
			<td><%= r.user.profile.pinnacleid %></td>
			<td><%= r.category %></td>
			<td><% if r.category == "event" %> <%= Event.find(r.item_id).name %> <% else %> <%= Workshop.find(r.item_id).name %> <% end %></td>
			<td><%= r.user.profile.name %></td>
			<td><%= r.user.email %></td>
			<td><%= r.user.profile.phonenumber %></td>
			<td><%= r.user.profile.branch %></td>
			<td><%= r.user.profile.course %></td>
			<td><%= r.user.profile.year %></td>
			<td><%= r.user.profile.institution %></td>
			<td><%= r.details %></td>
			<td><% if ((r.payment != "paid") && (r.category == "workshop"))%><%= form_tag("/cms/change_payment/#{r.id}",method: :get) do %><button class = "btn btn-primary">Paid</button><% end %><% end %></td>
			<td><%= form_tag("/cms/delete_reg/#{r.id}", method: :delete) do %><button class = "btn btn-danger">Delete</button><% end %></td>

		</tr>
	<% i = i+1 %>
	<% end %>
	</tbody>
</table>
</div>
<div class="row col-md-12">
	<%= form_tag('/cms/regxls.xls',method: :post) do %>	
	<input type = "hidden" name = 'category' value="<%= @paramscategory %>"/>
	<input type = "hidden" name = 'id' value="<%= @paramsid %>"/>
	<button type = "submit" class = "btn btn-primary">Download XLS</a>
	<% end %>
</div>

<!-- <div ng-controller = "mainController" class = "col-md-12">
 
<%= form_tag('/cms/registrations/',method: :post) do %>
<div class = "dropdown">
<select name = "category" ng-model = "DropdownChoice" ng-change = "DropdownSelect()">
<option value = "all">All</option>
<option value = "events">Events</option>
<option value = "workshops">Workshops</option>
</select>
</div>

<div class = "dropdown" ng-show = "EventShow">
<select name = 'event' ng-model = "SelectedEvent">
<option selected="selected" value = "none" disabled = "disabled">Select one</option>
<option value = 'all_events'>All Events</option>
<% @all_events.each do |e| %>
<option value = '<%= e.id %>'><%= e.name %></option>
<% end %>
</select>
</div>

<div class = "dropdown" ng-show = "WorkshopShow">
<select name = 'workshop'>
<option selected="selected" value = "none" disabled = "disabled">Select one</option>
<option value = 'all_workshops'>All Workshops</option>
<% @all_workshops.each do |e| %>
<option value = '<%= e.id %>'><%= e.name %></option>
<% end %>
</select>

</div>

<button type = "submit">Show</button>
<% end %>

<table class="table table-hover">
	<thead>
		<tr>
			<th>S.No.</th>
			<th>PID</th>
			<th>CATEGORY</th>
			<th>EVENT/WORKSHOP</th>
			<th>NAME</th>
			<th>EMAIL</th>
			<th>PHONENUMBER</th>
			<th>BRANCH</th>
			<th>COURSE</th>
			<th>YEAR</th>
			<th>INSTITUTION</th>
		</tr>
	</thead>
	<tbody>
	<% i = 1 %>
	<% @reg.each do |r| %>
		<tr>
			<td><%= i %></td>
			<td><%= r.user.profile.pinnacleid %></td>
			<td><%= r.category %></td>
			<td><% if r.category == "event" %> <%= Event.find(r.item_id).name %> <% else %> <%= Workshop.find(r.item_id).name %> <% end %></td>
			<td><%= r.user.profile.name %></td>
			<td><%= r.user.email %></td>
			<td><%= r.user.profile.phonenumber %></td>
			<td><%= r.user.profile.branch %></td>
			<td><%= r.user.profile.course %></td>
			<td><%= r.user.profile.year %></td>
			<td><%= r.user.profile.institution %></td>
		</tr>
	<% i = i+1 %>
	<% end %>
	</tbody>
</table>

<div class="row">
	<%= form_tag('/cms/regxls.xls',method: :post) do %>	
	<input type = "hidden" name = 'category' ng-model = "DropdownChoice"/>
	<input type = "hidden" name = 'category' ng-model = "SelectedEvent"/>
	<input type = "hidden" name = 'category' ng-model = "SelectedWorkshop"/>
	<button type = "submit" class = "btn btn-primary">Download XLS</a>
	<% end %>
</div>

</div> -->