<div ng-controller = "categoryController" class = "col-md-6">

<legend>New Category</legend>


<form ng-submit = "postCategory()">
	<div class="form-group col-md-5">
            <label for="primary">Primary Category</label>
            <select class = "form-control" name = "primary" ng-model = "new_category.primary">
              
              <option selected="selected" value = "999" disabled = "disabled">Select one</option>

              <option value = "event">Event</option>
              <option value = "workshop">Workshop</option>
              <option value = "page">Page</option>

            </select>
    </div>
  	
  	<div class="form-group col-md-5">
    	<label for="secondary">Secondary Category</label>
    	<input type="text" name = "secondary" class="form-control" ng-model="new_category.secondary" placeholder="Enter secondary">			
  	</div>	

  	<div class="form-group col-md-5">
    	<label for="url">URL</label>
    	<input type="text" name = "url" class="form-control" ng-change = "checkUrl(new_category.url)" ng-model="new_category.url" placeholder="Enter URL">
    	<div class="alert alert-danger" ng-hide = "urlUnique">URL not Unique! Enter new URL. </div>
  	</div> 	

  	<div class = "form-group col-md-8">
  	<input type = 'submit' class = "btn btn-success"/>
  	<input type = 'reset' class = "btn btn-danger"/>		
  	</div>
</form>

<legend>Existing Categories</legend>

<table class = "table table-striped">

<tr>
	<th>S.No</th>
	<th>Primary</th>
	<th>Secondary</th>
	<th>URL</th>
	<th>Delete</th>
</tr>

<tbody ng-repeat = "primary in categories">
<tr ng-repeat = "item in primary">
	<td>{{item.id}}</td>
	<td>{{item.primary}}</td>
	<td>{{item.secondary}}</td>
	<td>{{item.url}}</td>
	<td><a ng-click = "deleteCategory(item.id,$index,item.primary)">Delete</a></td>
</tr>
</tbody>

</table>



</div>
