<div ng-controller = 'workshopController' class='col-md-12'>
<div class = "container">
<ul class="nav nav-tabs list-group">
  <li class = 'active cmsTab'><a href="#all" data-toggle="tab">All Workshops</a></li>
  <li class = 'cmsTab'><a href="#add" data-toggle="tab">Add New</a></li>
  <li class = 'cmsTab'><a href="#edit">Edit</a></li>
  <a href='#add' class='btn btn-success pull-right' data-toggle = "tab">Create new Workshop</a>
</ul>


<div class="tab-content">

  <div class="tab-pane active" id="all">
  	<div class="panel panel-primary">
  		
  		<div class ="panel panel-heading">List of all Workshops</div>
  		<div class = "panel panel-body">
  		
  		<table class = "table table-responsive">
  				<thead>
  					<tr>
  						<th>S.No</th>
  						<th>Name</th>
  						<th>Details</th>
  						<th>Actions</th>
  					</tr>
  				</thead>
  				

  				<div>
  					<tr ng-repeat = "workshop in workshops">
						<td>{{workshop.id}}</td>
  						<td>{{workshop.name}}</td>
  						<td class='timestamps'>
              				Created : {{workshop.created_at | date:'yyyy-MM-dd' }}<br>
              				Modified: {{workshop.updated_at | date:'yyyy-MM-dd' }}
              			</td>
  						<td>
  							<button class = "btn btn-info btn-sm" ng-click = "editEnable(workshop.id,$index)"><span class = "fa fa-pencil"></span>  EDIT</button>
  							<button class = "btn btn-danger btn-sm" ng-click = "deleteWorkshop(workshop.id,$index)"><span class = "fa fa-times"></span>  DELETE</button>
  						</td>	
  					</tr>			
  				</div>

  		</table>

  		</div>
  	</div>
  </div>

  <div class="tab-pane" id="add">
  	<div class="panel panel-primary">
  		<div class = "panel panel-body">

  			<form ng-submit = 'postWorkshop()'>

  				<div class="form-group input-group">
            <div class = "input-group">
    				<label for="name" class="control-label" >Workshop Name</label>
    				<input type="text" required = "required" class="form-control" ng-model="new_workshop.name" placeholder="Enter name">
            </div>
  				</div>

  				<div class="form-group input-group">
 
    				<label for="venue" class="control-label">Workshop Venue</label>
    				<input type="text" required = "required" class="form-control" ng-model="new_workshop.venue" placeholder="Enter venue">
  				</div>

          <div class="form-group input-group">

            <label for="category" class="control-label">Workshop Category</label>
            <select required = "required" class = "form-control" name = "category" ng-model = "new_workshop.category_id">
              
              <option selected="selected" value = "999" disabled = "disabled">Select one</option>

              <% @category.each do |item|%>

              <option value = "<%= item.id %>"> <%= item.primary %> </option>

              <% end %>
            </select>
          </div> 

          <div class="form-group input-group">

            <label for="venue" class="control-label">Workshop URL</label>
            <div class = "input-group">
            <span class="input-group-addon"><%= SITE_URL %></span>
            <input type="text" required = "required" class="form-control" ng-model="new_workshop.url" ng-change = 'checkUrl(new_workshop.url)' placeholder="Enter URL">
            </div>
            <div class = "input-group">
            <div class="alert alert-danger" ng-hide = "urlUnique">URL not Unique! Enter new URl. </div>
            </div>
          </div>
        
          <div class = "form-group input-group">
      				<input type='submit' class='btn btn-success' value = 'Save Workshop'  name='Save Workshop' ng-model='saveButton' ng-disabled = "!urlUnique">
      				<input type='reset' class='btn btn-danger' name='Reset' >
          </div>


			</form>
		</div>


  </div>
  </div>


    <!-- EDIT WORKSHOP -->
  <div class="tab-pane" id="edit">

    <div class="panel-heading">Edit {{editWorkshop.name}}</div>
    <div class="panel panel-primary">
      <div class = "panel panel-body">

      <ul class="nav nav-tabs list-group">

          <li class = "active cmsTab"><a href="#content" data-toggle="tab">Contents</a></li>
          <li class="cmsTab"><a href="#tabs" data-toggle="tab" ng-click = "activeTab()">Tabs</a></li>
          <li class="cmsTab"><a href="#image" data-toggle="tab">Cover Image</a></li>
          <li class="cmsTab"><a href="#meta" data-toggle="tab">Meta</a></li>


      </ul>

        <div class = "tab-content">

          <div class="tab-pane active" id="content">
          <div class = "panel panel-body">


<!-- EDIT CONTENT -->
        <form ng-submit = 'updateWorkshop()'>
          <div class="form-group input-group">
            <label for="name" >Workshop Name</label>
            <input type="text" required = "required" class="form-control" ng-model="editWorkshop.name" placeholder="Enter name">
          </div>

          <div class="form-group input-group">
            <label for="venue">Workshop Venue</label>
            <input type="text" required = "required" class="form-control" ng-model="editWorkshop.venue" placeholder="Enter venue">
          </div>

          <div class="form-group input-group">
            <label for="venue">Workshop URL</label>
            <div class = "input-group">
            <span class="input-group-addon"><%= SITE_URL %></span>
            <input type="text" required = "required" class="form-control" ng-change = "checkUrl(editWorkshop.url)" ng-model="editWorkshop.url" placeholder="Enter venue">
            <div class="alert alert-danger" ng-hide = "urlUnique">URL not Unique! Enter new URl. </div>
            </div>
          </div>

          <div class="form-group input-group">
            <label for="start_date">Start Date</label>
            <input type="date" required = "required" class="form-control" ng-model="editWorkshop.start_date" placeholder="Enter start date">
          </div>

          <div class="form-group input-group">
            <label for="end_date">End Date</label>
            <input type="date" class="form-control" ng-model="editWorkshop.end_date" placeholder="Enter end date">
          </div>

          <div class="form-group input-group">
            <label for="end_date">Time</label>
            <input type="time" class="form-control" ng-model="editWorkshop.time" placeholder="Enter time">
          </div>

          <div class="form-group input-group">
            <label for="category">Workshop Category</label>
            <select class = "form-control" name = "category" ng-model = "editWorkshop.category_id">
              
              <option selected="selected" value = "999" disabled = "disabled">Select one</option>

              <% @category.each do |item|%>

              <option value = "<%= item.id %>"> <%= item.primary %> </option>

              <% end %>
            </select>
          </div>


          <input type = 'submit' class = 'btn btn-success' value = 'Save Workshop'  name='Save Workshop' ng-disabled = "!urlUnique"/>
        </form>

<!-- END EDIT CONTENT -->
          </div>
          </div>

          <div class="tab-pane" id="tabs">
          <div class = "panel panel-body">

            <ul class="nav nav-tabs list-group">

              <li class = "allTabs" ng-repeat = 'tab in editWorkshop.tabs'><a href="#tab{{$index}}" data-toggle="tab">{{tab.title}}</a></li>
              
              <li class = "allTabs"><a href = "#new" data-toggle = "tab">New Tab</a></li>

              <button ng-click = "tabShow()" class = "btn btn-default pull-right">New Tab</button>

            </ul>

            <div class = "tab-content">

            <div class="tab-pane" ng-repeat = "tab in editWorkshop.tabs" id="tab{{$index}}">
            <div class = "panel panel-body">
            <form ng-submit = "saveTab(false,$index)">
            
              <div class="form-group input-group">
                <label for="name">Tab Title</label>
                <input type="text" required="required"  class="form-control" ng-model = "tab.title" placeholder="Enter title">
              </div>

              <div class="form-group input-group">
                <label for="name">Tab Content</label>
                <text-angular ng-model='tab.content' ta-html-editor-class="form-control" id = "text_{{$index}}" ta-focussed-class="focussed" placeholder="Enter content"></text-angular>
                <!-- <textarea class="form-control" ng-model = "tab.content"  id = "text_{{$index}}" placeholder="Enter content"></textarea> -->
              </div>

              <input type = "submit" class = "btn btn-success"/>
                </form>

                <form ng-submit = "saveTab('delete',$index)">
                <button type = "submit" class = "btn btn-danger">Delete Tab</button>
                </form>

            </div>
            </div>

            <div class = "tab-pane" id = "new">
            <div class = "panel panel-body">
            <form ng-submit = "saveTab(true,$index)">
            
            <div class="form-group input-group">
                <label for="title">New Tab Title</label>
                  <input type="text" required="required"  class="form-control" name = "title" ng-model="newTab.title" placeholder="Enter     title">
                </div>

                <div class = "form-group input-group">
                  <label for = "content">New Tab Content</label>
                   <text-angular  name='content' ng-model='newTab.content'  ta-text-editor-class="content" ta-html-editor-class="form-control" ta-focussed-class="focussed" placeholder="Enter content"></text-angular>
                  <!-- <textarea name = "content" class = "form-control" id = "newtabcontent" ng-model = "newTab.content"></textarea> -->
                </div>
            
                <input type='submit' class='btn btn-success' value = 'Save Tabs'  name='Save Tabs' ng-model='saveButton'>

            </form>
            
            </div>
            </div>

            </div>

          </div>
          </div>

          <div class="tab-pane" id="image">
            <div class = "panel panel-body">
              <legend> Choose a cover image </legend>

              <%= form_tag('/cms/workshops/file',{enctype: 'multipart/form-data', method: :post}) do %>

              <input type = 'hidden' name = 'workshop_id' value = '{{editWorkshop.id}}'>
              <label class="control-label" for="cover_image">Choose File:</label>
              <input type = 'file' name = 'cover_image'></br>
              <input type = 'submit' class = 'btn btn-success'></input>
              <% end %>
              <div class = "jumbotron">
              <img ng-src = {{editWorkshop.imageUrl}} />
              </div>
            </div>              
          </div>


        <div class = "tab-pane" id = "meta">
<div class = "panel panel-body">
          <form ng-submit = "saveMeta()">

            <div class="form-group input-group">
                <label for="title">Meta Title</label>
                <input name = 'title' type="text" required="required"  class="form-control" ng-model = "editWorkshop.meta.title" placeholder="Enter title">
            </div>

            <div class="form-group input-group">
                <label for="description">Description</label>
                <textarea name = "description"class="form-control" id = "meta_text" ng-model = "editWorkshop.meta.content" placeholder="Enter content"></textarea>
            </div>

            <input type = 'submit' class = 'btn btn-success'>
            <input type = 'reset' class = 'btn btn-danger'>


          </form>

        </div>
      </div>




    </div>
  </div>
  </div>
  <!-- END EDIT WORKSHOP -->

</div>
</div>
