<header role="header">
	<div class="row">
		<div class="col-md-4">
			<img src="/assets/rebus/brainteasers.png" id="logo">
		</div>
		<div class="col-md-6">
			
		</div>
		<div class="col-md-2">
			<img src="/assets/rebus/plogo.png" id="plogo">
		</div>
	</div>
</header>