.info-column{
	background:#2980b9;
	height:100px;
	font-size:45px;
	margin-left:20px;
	margin-top:20px;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
}

.info-column > span {
	font-size : 32px;
}


.top_menu{
	padding:10px;
	margin-top:5px;
	background-color:#7f8c8d;
}


.sub_menu{
	padding:10px;
	margin-top:5px;
	background-color:#95a5a6;
	width:95%;
	margin-left:5%;
}

.sub_sub_menu{
	padding:10px;
	margin-top:5px;
	background-color:#ecf0f1;
	width:95%;
	margin-left:5%;
}