
@font-face 
{
	font-weight: normal;
    font-style: normal;
    font-family: 'DinPro';
    src: local('☺'),url('/assets/DINPro.otf') format('opentype');
}

@font-face 
{
	font-weight: normal;
    font-style: normal;
    font-family: 'Melbourne';
    src: local('☺'),url('/assets/melbourne.otf') format('opentype');
}

@font-face 
{
	font-weight: normal;
    font-style: normal;
    font-family: 'SegoeUI';
    src: local('☺'),url('/assets/segoeui.ttf') format('truetype');
}

@font-face 
{
    font-weight: normal;
    font-style: normal;
    font-family: 'Titillium';
    src: local('☺'),url('/assets/Titillium.otf') format('opentype');
}

@font-face 
{
    font-weight: normal;
    font-style: normal;
    font-family: 'Impact';
    src: local('☺'),url('/assets/impact.ttf') format('truetype');
}