/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require font-awesome
 *= require fonts
 *= require_self
 */


@charset 'utf-8';

*,*:after,*:before {
	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	position: relative;
	background: url('/assets/bg_pattern.gif') repeat, url('/assets/bg.jpg') no-repeat;
	background-color: rgba(0,0,0,0.5);
	background-size: auto auto, 100% 100%;
}

.container
{
	background-color: rgba(0,0,0,0.2);
	color: #000;
	min-height: 200px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header {
	min-height: 100px;
}

section {
	min-height: 500px;
}

[name="pinnacle-nav"] {
	padding: 0px 0;
	/*background-color: #002F5B;*/
	background-color: rgba(255, 255, 255, 1.0);
    font-family: 'DinPro';
	box-shadow:0 1px 3px rgba(0,0,0, .4);
	z-index: 2;
}

[name="pinnacle-nav"] li {
	background-color: transparent;
}

[name="pinnacle-nav"] li:hover {
	background-color: transparent;
}

[name="pinnacle-nav"] li a {
	color: #000;
	text-transform: uppercase;
	font-size: 15px;
}

[name="pinnacle-nav"] li:nth-child(4) {
	padding-right: 80px;
}

[name="pinnacle-nav"] li:nth-child(5) {
	padding-left: 80px;
}

[name="pinnacle-nav"] li a:hover {
	background-color: transparent;
	color: #080;
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

[name="pinnacle-nav"] li ul {
	display: none;
}

[name="pinnacle-nav"] li:hover ul {
	position: absolute;
	display: block;
	height: 50px;
	background-color: #FFF;
}

.nav-submenu {
	position: relative;
	width: 90%;
	
	padding: 5px;
	margin: 0 auto;
	margin-top: -40px;
	font-family: 'DinPro';
	text-transform: uppercase;
}

.nav-submenu .before,
.nav-submenu .after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	z-index: -2;
	
	/* demo-only decoration */
	border-radius: 0px;
	background-color: #ecf0f1;
}
	
.nav-submenu .before {
	transform: skew(-25deg);
	left: 25px;
}

.nav-submenu .after {
	transform: skew(25deg);
	right: 25px;
	left: auto;
}

.nav-submenu ul {
	list-style: none;
}

.nav-submenu ul li {
	display: inline;
}

.addZIndexMenu {
	z-index: -1;
}
.addHeightMenu{
	height:50px;
}
#pinnacle-subnav > li {
	margin-left: 20px;
}

#pinnacle-subnav > li > a {
	color: #000;
	text-decoration: none;
}

#pinnacle-subnav > li:nth-child(4) {
	/*margin-left: 200px;*/
}

.nav-secmenu {
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav-secmenu > ul {

}

.nav-secmenu > ul > li {
	margin: 0;
	padding: 0;
}

.nav-secmenu > ul > li > a {
	color: #FFF;
	font-family: 'DinPro';
	text-transform: uppercase;
	font-size: 13px;
}

.nav-secmenu > ul > li > a:hover {
	background-color: transparent;
	color: #999;
}

#slides
{
	margin: 50px 0;
	margin-bottom: 10px;
	display: none;
}

#slides .slidesjs-navigation
{
	margin-top: 3px;
	display: none;
}

#slides .slidesjs-previous
{
	margin-right: 5px;
	float: left;
	display: none;
}

#slides .slidesjs-next
{
	margin-right: 5px;
	float: left;
	display: none;
}

.slidesjs-navigation
{
	display: none;
}

.slidesjs-play
{
	display: none;
}

.slidesjs-stop
{
	display: none;
}

.slidesjs-pagination
{
	display: none;
}

#slides a:link,
    #slides a:visited
{
	color: #333;
}

#slides a:hover,
    #slides a:active
{
	color: #9e2020;
}

.slidesjs-pagination li a 
{
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url('/assets/pagination.png');
	background-position: 0 0;
	float: left;
	overflow: hidden;
}

#vertical-ticker
{
	margin: 10px 0;
	height: 150px;
	overflow:hidden;
	background-color: rgba(44, 62, 80,0.5);
	box-shadow:0 1px 3px rgba(0,0,0, .4);
	color: #FFF;	
}

#vertical-ticker > .headertitle {
	font-family: 'DinPro';
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	padding:5px;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  	background: #34495e;
  	border: 0;
  	border-bottom: 2px solid #263849;
  	cursor: pointer;
  	box-shadow: inset 0 -2px #263849;
}

#vertical-ticker ul {
	list-style: none;
	padding: 10px;
}

#vertical-ticker li { 
	font-size: 15px;
	font-family: 'SegoeUI';
	padding: 35px 10px;
}

#vertical-ticker li a { 
	color: #FFF;
	text-decoration: none;
}

.ticker-wrapper {
	padding: 10px;
}

.navbar
{
	overflow: hidden;
}

.fa-2 
{
	font-size: 2em;
}

[name="sponsor-slide"]
{
	min-height: 250px;
	border-radius: 5px;
	box-shadow:0 1px 3px rgba(0,0,0, .4);
}

[name="sponsor-slide"] a span {
	width: 100%;	
	font-family: 'DinPro';
	color:#FFF;
	padding: 5px;
	text-transform: uppercase;
	text-decoration: none;
}

[name="sponsor-slide"] a:hover{
	text-decoration: none;
}

[name="sponsor-slide"] a img {
	width: 100%;
	padding: 5px;
	margin-top: 10px;
}

.box
{
	height:200px;
	background:#FFF;
	margin: 5px;
}

.effect6
{
  	position:relative;       
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
} 
.effect6:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

hr.pattern-2
{
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}

h1.events-header {
	font-family: 'Titillium';
	font-size: 30px;
	color: #FFF;
	text-transform: uppercase;
	padding: 10px;

}

.events-venue {
	font-family: 'Titillium';
	font-size: 15px;
	color: #FFF;
	padding: 0px 10px;
}

.events-venue > i {
	padding: 0 10px;
}

.sidebar-login-buttons {
	margin: 70px 0 20px 0;
	font-family:'SegoeUI';
	font-weight: 100;
	letter-spacing: 1px;
}

.clouds-flat-button
{
	position: relative;
	vertical-align: top;
	width: 100%;
	padding: 10px;
	font-size: 15px;
	color: #454545;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #ecf0f1;
	border: 0;
	border-bottom: 2px solid #dadedf;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #dadedf;
	box-shadow: inset 0 -2px #dadedf;
	font-family: 'DinPro';
	text-transform: uppercase;
}

.clouds-flat-button:active
{
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.nephritis-flat-button
{
	position: relative;
	vertical-align: top;
	width: 100%;
	padding: 10px;
	font-size: 15px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #27ae60;
	border: 0;
	border-bottom: 2px solid #219d55;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #219d55;
	box-shadow: inset 0 -2px #219d55;
	font-family: 'Titillium';
	text-transform: uppercase;
}

.nephritis-flat-button:active
{
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.peter-river-flat-button
{
	position: relative;
	vertical-align: top;
	width: 100%;
	padding: 10px;
	font-size: 15px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #3498db;
	border: 0;
	border-bottom: 2px solid #2a8bcc;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #2a8bcc;
	box-shadow: inset 0 -2px #2a8bcc;
	font-family: 'Titillium';
	text-transform: uppercase;
}

.peter-river-flat-button:active
{
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.graphite-flat-button {
	position: relative;
	vertical-align: top;
	width: 100%;
	padding: 10px;
	font-size: 20px;
	color:white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #2c3e50;
	border: 0;
	border-bottom: 2px solid #22303f;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-box-shadow: inset 0 -2px #22303f;
	box-shadow: inset 0 -2px #22303f;
	font-family: 'DinPro';
}

.graphite-flat-button:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.pinnacle-cover-image {
	height: 300px;
	margin: 0 0 50px 0;
}

footer
{

}

.nav-tabs {
	border:none;
}

.nav-tabs li a {
	width: 100%;
}

.nav-tabs li a:hover {
	background-color: #8e44ad;
	border-radius: 0px;
	border: none;
	color: #FFF;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: #8e44ad;
	border-radius: 0px;
	border: none;
	color: #FFF;
}

.blue-banner-title
{
	position: relative;
	width: 100%;
	font-size: 18px;
	padding: 10px;
	margin: 0px 10px 10px -20px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #526da5;
	background-image: -moz-linear-gradient(top,#627aad,#3b5998);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#627aad),to(#3b5998));
	background-image: -webkit-linear-gradient(top,#627aad,#3b5998);
	background-image: -o-linear-gradient(top,#627aad,#3b5998);
	background-image: linear-gradient(to bottom,#627aad,#3b5998);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff627aad', endColorstr='#ff3b5998', GradientType=0);
	border-color: #3b5998 #3b5998 #263961;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #FFF;
	font-family: 'Nevis';
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    letter-spacing: 1px;
    color: #FFF;
}
 .blue-banner-title:before, .blue-banner-title:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

.blue-banner-title:before
{
	width: 30px;
	left: -30px;
	top: 12px;
	
	display: none;
}

.blue-banner-title:after
{
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: rgba(0,0,51,1) rgba(0,0,51,1) transparent transparent;
}

.blue-banner-title a
{
	text-decoration: none;
	color: #FFF;
}

footer {
	background-color: rgba(44, 62, 80,0.5);
	min-height: 300px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin-top: 100px;
}

.modal-content {
	background: transparent;
	box-shadow: none;
	border: none;
}

.modal-dialog {
	background-color: rgba(0,0,0,0.8);
	min-height: 400px;
}

.modal-header {
	border: none;
}

.modal-header > h4 {
	color: rgba(22, 160, 133,1.0);
	font-family: 'DinPro';
	font-size: 20px;
	text-transform: uppercase;
}

.modal-body p {
	color: rgba(22, 160, 133,1.0);
}

.modal-header > .close {
	font-family: 'DinPro';
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	text-shadow: none;
	opacity: 1.0;
}

.modal-backdrop 
{
	background-origin: border-box;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .25)), to(rgba(255, 255, 255, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, .25)), color-stop(1, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, .25), rgba(255, 255, 255, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .25) 100%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0));
	background: linear-gradient(top, rgba(255, 255, 255, .25), rgba(255, 255, 255, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .25) 100%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0));
	-webkit-filter: blur(12px) grayscale (.5) opacity(0.8) hue-rotate(120deg);
	-moz-filter: blur(12px) grayscale (.5) opacity(0.8) hue-rotate(120deg);
	filter: blur(12px) grayscale (.5) opacity(0.8) hue-rotate(120deg);
}

.modal-login-buttons {
	margin: 10px 0;
	font-family:'SegoeUI';
	font-weight: 100;
	letter-spacing: 1px;

}

.modal-content form input[type="text"],.modal-content form input[type="email"],.modal-content form input[type="password"] {
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
}

.modal-content form button[type="submit"] {
	background-color: rgba(46, 204, 113,1.0);
	color: #FFF;
	border: none;
	padding: 5px 10px;
	font-family: 'SegoeUI';
	font-size: 15px;
	box-shadow:0 1px 3px rgba(0,0,0, .4);
}

.modal-body > p {
	color: #FFF;
	font-family: 'Titillium';
}

.modal-pinnacle-id {
	
	font-size: 25px;
}

.modal-pinnacle-name {
	font-size: 20px;
}


.copyright-text {
	font-family: 'DinPro';
	color: #FFF;
	font-size: 12px;
	text-transform: uppercase;
}

.copyright-social-text {
	list-style: none;
}

.copyright-social-text > li {
	display: inline-block;
	padding: 0 10px;
}

.copyright-social-text > li > a {
	color: #FFF;
	font-size: 20px;
    transition: all .5s ease-out;
}

.copyright-social-text > li > a:hover {
	animation: bounce .5s ease-in;
}

.copyright-social-text > li > a.facebook:hover {
	color: #3b5998;
}

.copyright-social-text > li > a.twitter:hover {
	color: #00acee;
}

.copyright-social-text > li > a.googleplus:hover {
	color: #dd4b39;
}

.quicklinks-title {
	font-family: 'Titillium';
	color: #FFF;
	padding: 10px;
	font-size: 20px;
}

hr.hairline {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: 7px;
	background-image: url('/assets/hrline.png');
	border:none;
	background-position:50% 0;
	background-repeat:repeat-x;
	opacity: 0.5;
	padding: 0;
	margin: 0;
}

.univ-logo {
	width: 150px;
	padding: 10px;
	margin: 0 50px;

}

.ceg-logo {
	width: 150px;
	padding: 10px;
	margin: 0 50px;
}

.assoc-logo {
	width: 150px;
	margin: 10px 75px;
	padding: 10px;
}

.dates-holder {
	width: 200px;
	padding: 10px;
   color: #FFF;
   font-size: 25px;
    font-weight: 100;
    font-family: 'Impact';
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
	-webkit-animation: flicker 4s infinite alternate;
}

.piamb {
	margin: 50px 0;

}

[name="events-title"] {
	margin: 50px 0;
}

.tab-content {
	color: #FFF;
	text-align: justify;
}

[name="pinnacle-sidebar"] {
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	background: rgba(0, 0, 0, 0.5);
	float: left;
	font-size: 1.0em;
	min-height: 100%;
	width: 100%;
	font-family: 'DinPro';
	text-transform: uppercase;

}

[name="pinnacle-sidebar"] li {
	position: relative;
	z-index: 1;
	width: 100%;
}

[name="pinnacle-sidebar"] li a {
	display: block;
	padding: 0.5em 1em;
	white-space: nowrap;
	width: 100%;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

[name="pinnacle-sidebar"] li a {
	color: #FFF;
}

[name="pinnacle-sidebar"] li a:hover {
	background-color: rgba(0,0,0,1.0);
}

[name="pinnacle-sidebar"] li:hover:after
{
	content: "";
		display: block;
		width: 1em;
		height: 1em;
		background: rgba(0,0,0,0.75);
		border: 1px solid #FFF;
		position: absolute;
		top: 0.5em;
		left: -0.50em;
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		z-index: -1;

}

[name="pinnacle-sidebar"]>li.active>a, [name="pinnacle-sidebar"]>li.active>a:hover, [name="pinnacle-sidebar"]>li.active>a:focus
{
	background-color: rgba(0,0,0,1.0);

}

.page-content-holder {
	font-family: 'SegoeUI';
	font-size: 15px;
	color: #FFF;
	margin: 50px 0;
}

.grid a {
	float: left;
	width: 100%;
	color: #333;
}

.grid a:nth-child(odd) {
	margin: 30px 0 -30px 0;
}

.grid figure {
	position: relative;
	overflow: hidden;
	margin: 5px;
	background: #333;
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.grid figcaption {
	position: absolute;
	top: 0;
	z-index: 11;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.grid figcaption h2 {
	margin: 0 0 20px 0;
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 130%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.grid figcaption p {
	padding: 0 20px;
	color: #aaa;
	font-weight: 300;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}

.grid figure button {
	position: absolute;
	padding: 4px 20px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Style for SVG */
.grid svg {
	position: absolute;
	top: -1px; /* fixes rendering issue in FF */
	z-index: 10;
	width: 100%;
	height: 100%;
}

.grid svg path {
	fill: #fff;
}

/* Hover effects */
.grid a:hover figure img {
	opacity: 1;
}

.grid a:hover figcaption h2,
.grid a:hover figcaption p {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.grid a:hover figcaption p {
	opacity: 0;
}

.grid figure button,
.grid figure button {
	top: 50%;
	left: 50%;
	border: 3px solid #fff;
	background: transparent;
	color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
	transform: translateY(-50%) translateX(-50%) scale(0.25);
}

.grid a:hover figure button,
.grid a:hover figure button {
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
	transform: translateY(-50%) translateX(-50%) scale(1);
}

.footer-links {
	padding: 10px;
}

.footer-links > li {
	padding: 5px;
}

.footer-links > li > a {
	color: #FFF;
	font-size: 15px;
	text-decoration: none;
	font-family: 'SegoeUI';
}

.footer-links > li > a:hover {
	color: #999;
}

.profile-holder {
	border: 1px dashed #FFF;
	border-radius: 3px;
	color: #FFF;
	padding: 10px;
}

.short-profile-image {
	border-radius: 50%;
	margin: 5px 0;
	border: 2px solid rgba(255,255,255,0.5);
}

.large-profile-image {
	border-radius: 50%;
	margin: 5px 0;
	border: 2px solid rgba(255,255,255,0.5);
}

.profile-pinnacleid {
	font-family: 'Titillium';
	color: #FFF;
	font-size: 50px;
}

[name="profile-form"] input[type="email"],[name="profile-form"] input[type="text"],[name="profile-form"] input[type="password"] {
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px dotted rgba(255,255,255,0.5);
	padding: 10px;
	color: #FFF;
	font-size: 15px;
}

[name="profile-form"] label {
	padding: 10px;
	color: #FFF;
	text-transform: uppercase;
	font-family: 'DinPro';
	font-size: 15px;
}

[name="profile-form"] .form-group span {
	margin: 10px 0;
	padding: 10px;
	color: #FFF;
	text-transform: uppercase;
	font-family: 'DinPro';
	font-size: 15px;
}

@media (min-width: 1800px) {
	[name="pinnacle-logo"]
	{
		background: url('/assets/logo-c.png') 50% 0 no-repeat;
		background-size: 260px 260px;
		width: 260px;
		height: 260px;
		position: absolute;
		top: -40px;
		left: 50%;
		margin-left: -130px;
		z-index: 10;
	}

	[name="pinnacle-text"]
	{
		background: url('/assets/logotext.png') 50% 0 no-repeat;
		background-size: 300px 100px;
		width: 300px;
		height: 100px;
		position: absolute;
		top: 0;
		left: 63%;
		margin-left: -150px;
		z-index: 10;
	}
}

@media (min-width: 1400px) and (max-width: 1799px) {
	[name="pinnacle-logo"]
	{
		background: url('/assets/logo-c.png') 50% 0 no-repeat;
		background-size: 260px 260px;
		width: 260px;
		height: 260px;
		position: absolute;
		top: -40px;
		left: 50%;
		margin-left: -130px;
		z-index: 10;
	}

	[name="pinnacle-text"]
	{
		background: url('/assets/logotext.png') 50% 0 no-repeat;
		background-size: 300px 100px;
		width: 300px;
		height: 100px;
		position: absolute;
		top: 0;
		left: 66%;
		margin-left: -150px;
		z-index: 10;
	}
}

@media (min-width: 1201px) and (max-width: 1399px) {
	[name="pinnacle-logo"]
	{
		background: url('/assets/logo-c.png') 50% 0 no-repeat;
		background-size: 240px 240px;
		width: 240px;
		height: 240px;
		position: absolute;
		top: -50px;
		left: 50%;
		margin-left: -120px;
		z-index: 10;
	}

	[name="pinnacle-text"]
	{
		background: url('/assets/logotext.png') 50% 0 no-repeat;
		background-size: 350px 100px;
		width: 350px;
		height: 100px;
		position: absolute;
		top: 0px;
		left: 72%;
		margin-left: -175px;
		z-index: 10;
	}
}

@media (max-width: 1200px) {
	[name="pinnacle-logo"]
	{
		background: url('/assets/logo-c.png') 50% 0 no-repeat;
		background-size: 240px 240px;
		width: 240px;
		height: 240px;
		position: absolute;
		top: -50px;
		left: 425px;
		z-index: 10;
	}
}

@media (max-width: 940px) {
	[name="pinnacle-logo"]
	{
		background: url('/assets/logo-c.png') 50% 0 no-repeat;
		background-size: 240px 240px;
		width: 240px;
		height: 240px;
		position: absolute;
		top: -50px;
		left: 400px;
		z-index: 10;
	}
}



@media screen and (max-width: 58em) {
	.grid a {
		width: 33.333%;
	}

	.grid a:nth-child(odd) {
		margin: 0;
	}

	.grid a:nth-child(3n-1) {
		margin: 30px 0 -30px 0;
	}
}

@media screen and (max-width: 45em) {
	.grid {
		max-width: 500px;
	}

	.grid a {
		width: 50%;
	}

	.grid a:nth-child(3n-1) {
		margin: 0;
	}

	.grid a:nth-child(even) {
		margin: 30px 0 -30px 0;
	}


	.grid figcaption h2 {
		margin-bottom: 0px;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	.grid figcaption p {
		margin: 0;
		padding: 0 10px;
	}
}

@media screen and (max-width: 27em) {
	.grid {
		max-width: 250px;
	}

	.grid a {
		width: 100%;
	}

	.grid a:nth-child(even) {
		margin: 0;
	}
}
@media (max-width: 940px) {
	[name="pinnacle-logo"]
	{
		background: url('/assets/logo-c.png') 50% 0 no-repeat;
		background-size: 240px 240px;
		width: 240px;
		height: 240px;
		position: absolute;
		top: -50px;
		left: 225px;
		z-index: 10;
	}
}


@-webkit-keyframes bounce {
	0% {
		-webkit-transform:translateY(-100%);
	}
	5% {
		-webkit-transform:translateY(-100%);
	}
	15% {
		-webkit-transform:translateY(0);
		padding: 4px auto;
	}
	20% {
		-webkit-transform:translateY(-80%);
	}
	25% {
		-webkit-transform:translateY(0%);
		padding: 4px auto;
	}
	30% {
		-webkit-transform:translateY(-70%);
	}
	35% {
		-webkit-transform:translateY(0%);
		padding: 5px auto;
	}
	40% {
		-webkit-transform:translateY(-60%);
	}
	45% {
		-webkit-transform:translateY(0%);
		padding: 5px auto;
	}
	50% {
		-webkit-transform:translateY(-50%);
	}
	55% {
		-webkit-transform:translateY(0%);
		padding: 6px auto;
	}
	60% {
		-webkit-transform:translateY(-30%);
	}
	65% {
		-webkit-transform:translateY(0%);
		padding: 6px auto;
	}
	70% {
		-webkit-transform:translateY(-15%);
	}
	75% {
		-webkit-transform:translateY(0);
		padding: 8px auto;
	}
	80% {
		-webkit-transform:translateY(-10%);
	}
	85% {
		-webkit-transform:translateY(0);
		padding: 8px auto;
	}
	90% {
		-webkit-transform:translateY(-5%);
	}
	95% {
		-webkit-transform:translateY(0);
		padding: 10px;
	}
	100% {
		-webkit-transform:translateY(0);
		padding: 10px;
	}
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-moz-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-moz-transform:translateY(-50%);
  }
  40% {
  	-moz-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-moz-transform:translateY(-30%);
  }
  70% {
  	-moz-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-moz-transform:translateY(-15%);
  }
  90% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-moz-transform:translateY(-10%);
  }
  97% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-moz-transform:translateY(-5%);
  }
  100% {
  	-moz-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
	-o-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-o-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-o-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-o-transform:translateY(-50%);
  }
  40% {
  	-o-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-o-transform:translateY(-30%);
  }
  70% {
  	-o-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-o-transform:translateY(-15%);
  }
  90% {
  	-o-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-o-transform:translateY(-10%);
  }
  97% {
  	-o-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-o-transform:translateY(-5%);
  }
  100% {
  	-o-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
	transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	transform:translateY(-50%);
  }
  40% {
  	transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	transform:translateY(-30%);
  }
  70% {
  	transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	transform:translateY(-15%);
  }
  90% {
  	transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	transform:translateY(-7%);
  }
  97% {
  	transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	transform:translateY(-3%);
  }
  100% {
  	transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

@-webkit-keyframes flicker {
  0% { //Dark
  	text-shadow: 0 0 3px #000;
		color: #FFF;
  }
	1% { //Med
		text-shadow: 0 0 4px #888, 0 0 100px #BBB, 0 0 130px #CCC; 
		color: #CCC;
	}
  2% { //Dark
  	text-shadow: 0 0 3px #000;
		color: #FFF;
  }
  3% { //Bright
		text-shadow: 0 0 14px #AAA, 0 0 120px #FFF, 0 0 150px #FFF; 
		color: #DDD;
	}
	15% { //Bright
		text-shadow: 0 0 14px #AAA, 0 0 120px #FFF, 0 0 150px #FFF; 
		color: #DDD;
	}
	16% { //Dark
		text-shadow: 0 0 3px #000;
		color: #FFF;
	}
	25% { //Dark
		text-shadow: 0 0 3px #000;
		color: #FFF;
	}
	26% { //Bright
		text-shadow: 0 0 14px #AAA, 0 0 120px #FFF, 0 0 150px #FFF; 
		color: #DDD;
	}
	39% { //Bright
		text-shadow: 0 0 14px #AAA, 0 0 120px #FFF, 0 0 150px #FFF; 
		color: #DDD;
	}
	40% { //Med
		text-shadow: 0 0 4px #888, 0 0 100px #BBB, 0 0 130px #CCC; 
		color: #CCC;
	}
	45% { //Med
		text-shadow: 0 0 4px #888, 0 0 100px #BBB, 0 0 130px #CCC; 
		color: #CCC;
	}
	46% { //Dark
		text-shadow: 0 0 3px #000;
		color: #FFF;
	}
	77% { //Dark
		text-shadow: 0 0 3px #000;
		color: #FFF;
	}
	78% { //Med
		text-shadow: 0 0 4px #888, 0 0 100px #BBB, 0 0 130px #CCC; 
		color: #CCC;
	}
	79% { //Med
		text-shadow: 0 0 4px #888, 0 0 100px #BBB, 0 0 130px #CCC; 
		color: #CCC;
	}
	80% { //Dark
		text-shadow: 0 0 3px #000;
		color: #FFF;
	}
}