/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require font-awesome
 *= require fonts
 *= require_self
 */

body {
	background: #196a73;
	background-image:url('/assets/rebus/bg.gif');
	-moz-transition: background 0.8s;
	-o-transition: background 0.8s;
	-webkit-transition: background 0.8s;
	transition: background 0.8s;
}

header {
	padding: 20px 0;
}

header #logo {
	display: block;
	width: 300px;
	margin: 0 auto;
}

header #plogo {
	display: block;
	width: 50px;
  margin: 0 auto;
}

section {
	margin: 20px 0 20px 50px;
}


.engine-settings-splash {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  right: 0;
  /*margin: -197px auto 0;*/
}

.display {
  position: relative;
  left: 50%;
  height: 165px;
  width: 492px;
  margin-left: -246px;
}

.panel {
  position: absolute;
  top: 0px;
  left: 0;
  height: 165px;
  width: 130px;
  background: transparent;
}
.panel .light {
  position: absolute;
}
.panel .light:nth-child(1) {
  left: 0%;
}
.panel .light:nth-child(2) {
  left: 25%;
}
.panel .light:nth-child(3) {
  left: 50%;
}
.panel .light:nth-child(4) {
  left: 75%;
}
.panel .light:nth-child(5) {
  left: 100%;
}
.panel.right {
  left: auto;
  right: 0;
}
.panel.right .light:nth-child(1) {
  -moz-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: background 0.3s ease 0s;
}
.panel.right .light:nth-child(2) {
  -moz-transition: background 0.3s ease 0.088s;
  -o-transition: background 0.3s ease 0.088s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.088s;
  transition: background 0.3s ease 0.088s;
}
.panel.right .light:nth-child(3) {
  -moz-transition: background 0.3s ease 0.176s;
  -o-transition: background 0.3s ease 0.176s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.176s;
  transition: background 0.3s ease 0.176s;
}
.panel.right .light:nth-child(4) {
  -moz-transition: background 0.3s ease 0.264s;
  -o-transition: background 0.3s ease 0.264s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.264s;
  transition: background 0.3s ease 0.264s;
}
.panel.right .light:nth-child(5) {
  -moz-transition: background 0.3s ease 0.352s;
  -o-transition: background 0.3s ease 0.352s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.352s;
  transition: background 0.3s ease 0.352s;
}
.panel.right .light:nth-last-child(1):before, .panel.right .light:nth-last-child(1):after {
  -moz-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: background 0.3s ease 0s;
}
.panel.right .light:nth-last-child(2):before, .panel.right .light:nth-last-child(2):after {
  -moz-transition: background 0.3s ease 0.088s;
  -o-transition: background 0.3s ease 0.088s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.088s;
  transition: background 0.3s ease 0.088s;
}
.panel.right .light:nth-last-child(3):before, .panel.right .light:nth-last-child(3):after {
  -moz-transition: background 0.3s ease 0.176s;
  -o-transition: background 0.3s ease 0.176s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.176s;
  transition: background 0.3s ease 0.176s;
}
.panel.right .light:nth-last-child(4):before, .panel.right .light:nth-last-child(4):after {
  -moz-transition: background 0.3s ease 0.264s;
  -o-transition: background 0.3s ease 0.264s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.264s;
  transition: background 0.3s ease 0.264s;
}
.panel.right .light:nth-last-child(5):before, .panel.right .light:nth-last-child(5):after {
  -moz-transition: background 0.3s ease 0.352s;
  -o-transition: background 0.3s ease 0.352s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.352s;
  transition: background 0.3s ease 0.352s;
}
.panel.right .light, .panel.right .light:before, .panel.right .light:after {
  background: #98d6f9;
}
.success .panel.right .light, .success .panel.right .light:before, .success .panel.right .light:after {
  background: #6cdbc7;
}
.success .panel.right .light, .throb .panel.right .light, .success .panel.right .light:before, .throb .panel.right .light:before, .success .panel.right .light:after, .throb .panel.right .light:after {
  background: #f0f9fe;
}
.success .success .panel.right .light, .success .throb .panel.right .light, .success .success .panel.right .light:before, .success .throb .panel.right .light:before, .success .success .panel.right .light:after, .success .throb .panel.right .light:after {
  background: #eaf9f7;
}
.panel .light {
  position: relative;
  position: absolute;
  top: 50%;
  left: 0;
}
.panel .light:before, .panel .light:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
}
.panel .light:nth-last-child(1) {
  -moz-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: background 0.3s ease 0s;
}
.panel .light:nth-last-child(2) {
  -moz-transition: background 0.3s ease 0.088s;
  -o-transition: background 0.3s ease 0.088s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.088s;
  transition: background 0.3s ease 0.088s;
}
.panel .light:nth-last-child(3) {
  -moz-transition: background 0.3s ease 0.176s;
  -o-transition: background 0.3s ease 0.176s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.176s;
  transition: background 0.3s ease 0.176s;
}
.panel .light:nth-last-child(4) {
  -moz-transition: background 0.3s ease 0.264s;
  -o-transition: background 0.3s ease 0.264s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.264s;
  transition: background 0.3s ease 0.264s;
}
.panel .light:nth-last-child(5) {
  -moz-transition: background 0.3s ease 0.352s;
  -o-transition: background 0.3s ease 0.352s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.352s;
  transition: background 0.3s ease 0.352s;
}
.panel .light:nth-child(1):before, .panel .light:nth-child(1):after {
  -moz-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: background 0.3s ease 0s;
}
.panel .light:nth-child(2):before, .panel .light:nth-child(2):after {
  -moz-transition: background 0.3s ease 0.088s;
  -o-transition: background 0.3s ease 0.088s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.088s;
  transition: background 0.3s ease 0.088s;
}
.panel .light:nth-child(3):before, .panel .light:nth-child(3):after {
  -moz-transition: background 0.3s ease 0.176s;
  -o-transition: background 0.3s ease 0.176s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.176s;
  transition: background 0.3s ease 0.176s;
}
.panel .light:nth-child(4):before, .panel .light:nth-child(4):after {
  -moz-transition: background 0.3s ease 0.264s;
  -o-transition: background 0.3s ease 0.264s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.264s;
  transition: background 0.3s ease 0.264s;
}
.panel .light:nth-child(5):before, .panel .light:nth-child(5):after {
  -moz-transition: background 0.3s ease 0.352s;
  -o-transition: background 0.3s ease 0.352s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.352s;
  transition: background 0.3s ease 0.352s;
}
.panel .light, .panel .light:before, .panel .light:after {
  background: #98d6f9;
}
.success .panel .light, .success .panel .light:before, .success .panel .light:after {
  background: #6cdbc7;
}
.success .panel .light, .throb .panel .light, .success .panel .light:before, .throb .panel .light:before, .success .panel .light:after, .throb .panel .light:after {
  background: #f0f9fe;
}
.success .success .panel .light, .success .throb .panel .light, .success .success .panel .light:before, .success .throb .panel .light:before, .success .success .panel .light:after, .success .throb .panel .light:after {
  background: #eaf9f7;
}
.panel .light, .panel .light:before, .panel .light:after {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
.panel .light:before {
  top: -67px;
}
.panel .light:after {
  top: 67px;
}

.gear {
  position: relative;
  position: absolute;
  top: 0;
  left: 50%;
  height: 165px;
  width: 165px;
  margin-left: -82.5px;
}
.gear:before, .gear:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
}
.gear:before {
  height: 64px;
  width: 64px;
  border-radius: 32px;
  background: #a7dcfa;
  -moz-transition: background 0.8s;
  -o-transition: background 0.8s;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  top: 50.5px;
  left: 50.5px;
  box-shadow: 5px 4px 18px rgba(0, 0, 0, 0.2);
}
.success .gear:before {
  background: #81e0cf;
}
.gear:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 141px;
  width: 141px;
  border-radius: 70.5px;
  top: 12px;
  left: 12px;
  border: 28px solid;
  border-color: #37637c;
  -moz-transition: border-color 0.8s;
  -o-transition: border-color 0.8s;
  -webkit-transition: border-color 0.8s;
  transition: border-color 0.8s;
}
.success .gear:after {
  border-color: #176658;
}
.gear .tooth {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 16px;
  width: 39px;
  margin-left: -11.5px;
  border-style: solid;
  border-width: 0 2px 16px;
  border-color: transparent;
  border-bottom-color: #37637c;
  -moz-transition: border-bottom-color 0.8s;
  -o-transition: border-bottom-color 0.8s;
  -webkit-transition: border-bottom-color 0.8s;
  transition: border-bottom-color 0.8s;
}
.success .gear .tooth {
  border-bottom-color: #176658;
}
.gear .tooth:nth-child(1) {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 149px;
  left: 74.5px;
}
.gear .tooth:nth-child(2) {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 127.17946px;
  left: 127.17946px;
}
.gear .tooth:nth-child(3) {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 74.5px;
  left: 149px;
}
.gear .tooth:nth-child(4) {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 21.82054px;
  left: 127.17946px;
}
.gear .tooth:nth-child(5) {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 0px;
  left: 74.5px;
}
.gear .tooth:nth-child(6) {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21.82054px;
  left: 21.82054px;
}
.gear .tooth:nth-child(7) {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 74.5px;
  left: 0px;
}
.gear .tooth:nth-child(8) {
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 127.17946px;
  left: 21.82054px;
}
.gear .shadow {
  -moz-transform: rotate(-39deg);
  -ms-transform: rotate(-39deg);
  -o-transform: rotate(-39deg);
  -webkit-transform: rotate(-39deg);
  transform: rotate(-39deg);
  position: relative;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.gear .shadow:before, .gear .shadow:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
}
.gear .shadow:after {
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  top: 50%;
  height: 100%;
  width: 100%;
}

.status {
  position: absolute;
  top: 299px;
  left: 50%;
  height: 78px;
  width: 247px;
  margin-left: -123.5px;
}
.status .light {
  position: absolute;
}
.status .light:nth-child(1) {
  left: 0%;
}
.status .light:nth-child(2) {
  left: 25%;
}
.status .light:nth-child(3) {
  left: 50%;
}
.status .light:nth-child(4) {
  left: 75%;
}
.status .light:nth-child(5) {
  left: 100%;
}
.status .lights {
  position: absolute;
  top: 50%;
  left: auto;
  width: 65px;
}
.status .lights:last-child {
  right: 0;
}
.status .lights:last-child .light:nth-child(1) {
  -moz-transition: background 0.3s ease 0.28s;
  -o-transition: background 0.3s ease 0.28s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.28s;
  transition: background 0.3s ease 0.28s;
}
.status .lights:last-child .light:nth-child(2) {
  -moz-transition: background 0.3s ease 0.32s;
  -o-transition: background 0.3s ease 0.32s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.32s;
  transition: background 0.3s ease 0.32s;
}
.status .lights:last-child .light:nth-child(3) {
  -moz-transition: background 0.3s ease 0.36s;
  -o-transition: background 0.3s ease 0.36s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.36s;
  transition: background 0.3s ease 0.36s;
}
.status .lights:last-child .light:nth-child(4) {
  -moz-transition: background 0.3s ease 0.4s;
  -o-transition: background 0.3s ease 0.4s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.4s;
  transition: background 0.3s ease 0.4s;
}
.status .lights:last-child .light:nth-child(5) {
  -moz-transition: background 0.3s ease 0.44s;
  -o-transition: background 0.3s ease 0.44s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.44s;
  transition: background 0.3s ease 0.44s;
}
.status .lights:last-child .light:nth-last-child(1):before, .status .lights:last-child .light:nth-last-child(1):after {
  -moz-transition: background 0.3s ease 0.28s;
  -o-transition: background 0.3s ease 0.28s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.28s;
  transition: background 0.3s ease 0.28s;
}
.status .lights:last-child .light:nth-last-child(2):before, .status .lights:last-child .light:nth-last-child(2):after {
  -moz-transition: background 0.3s ease 0.32s;
  -o-transition: background 0.3s ease 0.32s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.32s;
  transition: background 0.3s ease 0.32s;
}
.status .lights:last-child .light:nth-last-child(3):before, .status .lights:last-child .light:nth-last-child(3):after {
  -moz-transition: background 0.3s ease 0.36s;
  -o-transition: background 0.3s ease 0.36s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.36s;
  transition: background 0.3s ease 0.36s;
}
.status .lights:last-child .light:nth-last-child(4):before, .status .lights:last-child .light:nth-last-child(4):after {
  -moz-transition: background 0.3s ease 0.4s;
  -o-transition: background 0.3s ease 0.4s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.4s;
  transition: background 0.3s ease 0.4s;
}
.status .lights:last-child .light:nth-last-child(5):before, .status .lights:last-child .light:nth-last-child(5):after {
  -moz-transition: background 0.3s ease 0.44s;
  -o-transition: background 0.3s ease 0.44s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.44s;
  transition: background 0.3s ease 0.44s;
}
.status .lights:last-child .light, .status .lights:last-child .light:before, .status .lights:last-child .light:after {
  background: #98d6f9;
}
.success .status .lights:last-child .light, .success .status .lights:last-child .light:before, .success .status .lights:last-child .light:after {
  background: #6cdbc7;
}
.success .status .lights:last-child .light, .throb .status .lights:last-child .light, .success .status .lights:last-child .light:before, .throb .status .lights:last-child .light:before, .success .status .lights:last-child .light:after, .throb .status .lights:last-child .light:after {
  background: #f0f9fe;
}
.success .success .status .lights:last-child .light, .success .throb .status .lights:last-child .light, .success .success .status .lights:last-child .light:before, .success .throb .status .lights:last-child .light:before, .success .success .status .lights:last-child .light:after, .success .throb .status .lights:last-child .light:after {
  background: #eaf9f7;
}
.status .lights .light {
  height: 9px;
  width: 9px;
  border-radius: 4.5px;
  margin: -4.5px 0 0 -4.5px;
}
.status .lights .light:nth-child(1) {
  -moz-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: background 0.3s ease 0s;
}
.status .lights .light:nth-child(2) {
  -moz-transition: background 0.3s ease 0.04s;
  -o-transition: background 0.3s ease 0.04s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.04s;
  transition: background 0.3s ease 0.04s;
}
.status .lights .light:nth-child(3) {
  -moz-transition: background 0.3s ease 0.08s;
  -o-transition: background 0.3s ease 0.08s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.08s;
  transition: background 0.3s ease 0.08s;
}
.status .lights .light:nth-child(4) {
  -moz-transition: background 0.3s ease 0.12s;
  -o-transition: background 0.3s ease 0.12s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.12s;
  transition: background 0.3s ease 0.12s;
}
.status .lights .light:nth-child(5) {
  -moz-transition: background 0.3s ease 0.16s;
  -o-transition: background 0.3s ease 0.16s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.16s;
  transition: background 0.3s ease 0.16s;
}
.status .lights .light:nth-last-child(1):before, .status .lights .light:nth-last-child(1):after {
  -moz-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: background 0.3s ease 0s;
}
.status .lights .light:nth-last-child(2):before, .status .lights .light:nth-last-child(2):after {
  -moz-transition: background 0.3s ease 0.04s;
  -o-transition: background 0.3s ease 0.04s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.04s;
  transition: background 0.3s ease 0.04s;
}
.status .lights .light:nth-last-child(3):before, .status .lights .light:nth-last-child(3):after {
  -moz-transition: background 0.3s ease 0.08s;
  -o-transition: background 0.3s ease 0.08s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.08s;
  transition: background 0.3s ease 0.08s;
}
.status .lights .light:nth-last-child(4):before, .status .lights .light:nth-last-child(4):after {
  -moz-transition: background 0.3s ease 0.12s;
  -o-transition: background 0.3s ease 0.12s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.12s;
  transition: background 0.3s ease 0.12s;
}
.status .lights .light:nth-last-child(5):before, .status .lights .light:nth-last-child(5):after {
  -moz-transition: background 0.3s ease 0.16s;
  -o-transition: background 0.3s ease 0.16s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.16s;
  transition: background 0.3s ease 0.16s;
}
.status .lights .light, .status .lights .light:before, .status .lights .light:after {
  background: #98d6f9;
}
.success .status .lights .light, .success .status .lights .light:before, .success .status .lights .light:after {
  background: #6cdbc7;
}
.success .status .lights .light, .throb .status .lights .light, .success .status .lights .light:before, .throb .status .lights .light:before, .success .status .lights .light:after, .throb .status .lights .light:after {
  background: #f0f9fe;
}
.success .success .status .lights .light, .success .throb .status .lights .light, .success .success .status .lights .light:before, .success .throb .status .lights .light:before, .success .success .status .lights .light:after, .success .throb .status .lights .light:after {
  background: #eaf9f7;
}



.hexcheck {
  background: #a7dcfa;
  -moz-transition: background 0.8s;
  -o-transition: background 0.8s;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  height: 78px;
  width: 45.03332px;
  margin-left: -22.51666px;
}
.success .hexcheck {
  background: #81e0cf;
}
.hexcheck,
.hexcheck .hexbg {
  position: absolute;
  top: 0;
  left: 50%;
  position: relative;
}
.hexcheck:before, .hexcheck:after,
.hexcheck .hexbg:before,
.hexcheck .hexbg:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
}
.hexcheck:before, .hexcheck:after,
.hexcheck .hexbg:before,
.hexcheck .hexbg:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: inherit;
}
.hexcheck:before,
.hexcheck .hexbg:before {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hexcheck:after,
.hexcheck .hexbg:after {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.hexcheck .hexbg {
  background: #37637c;
  -moz-transition: background 0.8s;
  -o-transition: background 0.8s;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  top: 6px;
  height: 66px;
  width: 38.10512px;
  margin-left: -19.05256px;
  z-indeX: 1;
}
.success .hexcheck .hexbg {
  background: #176658;
}
.hexcheck .shadow {
  -moz-transform: rotate(-39deg);
  -ms-transform: rotate(-39deg);
  -o-transform: rotate(-39deg);
  -webkit-transform: rotate(-39deg);
  transform: rotate(-39deg);
  position: relative;
  position: absolute;
  top: 0;
  left: 50%;
  height: 78px;
  width: 78px;
  margin-left: -39px;
  z-index: 1;
}
.hexcheck .shadow:before, .hexcheck .shadow:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
}
.hexcheck .shadow:after {
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  width: 100%;
}

.check {
  position: relative;
  background: transparent;
  color: #98d6f9;
  -moz-transition: background 0.3s ease 0.24s;
  -o-transition: background 0.3s ease 0.24s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.24s;
  transition: background 0.3s ease 0.24s;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.check > a {
	display: block;
	color: #FFF;
	font-size: 40px;
	margin-top: -5px;
	margin-left: -15px;
	z-index: 99;
}

.check:before, .check:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
}
.success .check {
  background: #6cdbc7;
}
.check:before {
  -moz-transform: rotate(-51deg);
  -ms-transform: rotate(-51deg);
  -o-transform: rotate(-51deg);
  -webkit-transform: rotate(-51deg);
  transform: rotate(-51deg);
  position: absolute;
  top: -4px;
  left: -7px;
  height: 14px;
  width: 8px;
  background: inherit;
}
.check:after {
  -moz-transform: rotate(39deg);
  -ms-transform: rotate(39deg);
  -o-transform: rotate(39deg);
  -webkit-transform: rotate(39deg);
  transform: rotate(39deg);
  position: absolute;
  top: -10px;
  left: 0px;
  height: 19px;
  width: 8px;
  background: inherit;
}
.success .check {
  background: #f0f9fe;
}
.success .success .check {
  background: #eaf9f7;
}

h1.round-text {
  display: block;
    font-family: 'DinPro';
    font-size: 100px;
    color: #FFF;
}

#bt-navigation {
  margin: 20px 0;
}

#bt-navigation > ul {
  font-family: 'DinPro';
  font-size: 20px;
}

#bt-navigation > ul > li {
  padding: 0;
  margin: 0;
}

#bt-navigation > ul > li > a {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  word-spacing: 5px;

}

#bt-navigation > ul > li > a:hover {
  color: #FFF;
  background-color: transparent;
}

#notice-block {
  background-color: rgba(44, 62, 80,1.0);
  color: #FFF;
  font-family: 'DinPro';
  text-transform: uppercase;
  font-size: 25px;
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  margin: 10px 0;
}

#question-header {
  display: block;
  padding: 10px 0;
  font-family: 'DinPro';
  text-transform: uppercase;
  color: #FFF;
  font-size: 30px;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
}

#question-block {
  background-color: rgba(44, 62, 80,1.0);
  box-shadow: 0 1px 3px rgba(0,0,0, .4);
  color: #FFF;
  border-radius: 3px;
  padding: 20px;
  font-family: 'SegoeUI';
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
  border: 2px dashed #fff;
}
 
#rebus-answer-form {
  margin: 50px 0;
}

#rebus-answer-form textarea {
  background-color: rgba(44, 62, 80,1.0);
  color: #FFF;
  border-radius: 10px;
  border: 2px solid rgba(192, 57, 43,1.0);
  height: 100px; 
}

#rebus-answer-form [type="submit"] {
   position: relative;
  vertical-align: top;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #27ae60;
  border: 0;
  border-bottom: 2px solid #219d55;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
  font-family: 'DinPro';
  text-transform: uppercase;
}

#rebus-answer-form [type="submit"]:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section {
  min-height: 500px;
}

.skip-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  margin: 2px 0;
  padding: 10px;
  font-size: 18px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #8e44ad;
  border: 0;
  border-bottom: 2px solid #80399d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #80399d;
  box-shadow: inset 0 -2px #80399d;
  font-family: 'DinPro';
  text-transform: uppercase;
}
.skip-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#rebus-table {
  margin: 50px 0;
  border: 1px solid #FFF;
}

#rebus-table thead {
  background-color: rgba(22, 160, 133,1.0);
  font-family: 'SegoeUI';
  text-transform: uppercase;
  color: #FFF;
}

#rebus-table thead > tr > th {
  border-right: 1px solid #fff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
}

#rebus-table tbody {
  background-color: rgba(44, 62, 80,1.0);
  color: #FFF;
}

#rebus-table tbody > tr:hover {
  background-color: rgba(44, 62, 80,0.5);
}

#rebus-table tbody > tr > td {
  border-right: 1px solid #fff;
  text-align: center;
  font-family: 'SegoeUI';
}


[tesark] {
  background: rgba(0,0,0,1.0);
}

[tesark] #tesark-logo {
  display: block;
  width: 100px;
  padding: 10px;
  margin:0 auto;
}

[tesark] #©-copyright-text {
  color: #FFF;
  padding: 10px 0;
  font-family: 'ProximaNova';
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}