<div ng-controller = 'pageController' class='col-md-12'>

	<ul class="nav nav-tabs cmsTab">
	  <li class='active'><a href="#index" data-toggle="tab">All Pages</a></li>
	  <li><a href="#add" data-toggle="tab">Add</a></li>
	  <li><a href="#edit" >Edit</a></li>
	  <li><a href="#settings" data-toggle="tab">Settings</a></li>
	  <a href='#add' class='btn btn-success pull-right' data-toggle="tab">Create new Page</a>
	</ul>

	
	<div class="tab-content">
	  <div class="tab-pane fade in active" id="index">
	  	<br>
	  	<div class="panel panel-primary">
		  <div class="panel-heading">List of Pages</div>
		  <div class="panel-body">
		    <table class='table table-responsive'>
		  		<thead>
		  			<tr>
			  			<th> S.No</th>
			  			<th> URL </th>
			  			<th> Title</th>
			  			<th> Details </th>
			  			<th> Action </th>
		  			</tr>
		  		</thead>

		  		<tr ng-repeat = 'item in pages'>
		  			<td>{{$index+1}}</td>
		  			<td>{{item.title}}</td>
		  			<td>{{item.url}}</td>
		  			<td class='timestamps'>
		  				Created : {{item.created_at | date:'yyyy-MM-dd' }}<br>
		  				Modified: {{item.updated_at | date:'yyyy-MM-dd' }}
		  			</td>
		  			<td>
		  			
		  					<button class='btn btn-info btn-sm' ng-click = 'editEnable(item.id,$index)'><span class='fa fa-pencil'></span> EDIT</button>
		  					<button class='btn btn-danger btn-sm' ng-click = 'deletePage(item.id,$index)'><span class='fa fa-times'></span> DELETE</button>
		  				
		  				
		  			</td>
		  		</tr>
	  		</table>
		  </div>
		</div>
	  	<ul class="pagination">
		  <li><a href="#">&laquo;</a></li>
		  <li class='active'><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	  </div>
	  <div class="tab-pane fade" id="add">
	  	<br>
	  	<div class="alert alert-danger" ng-hide = "urlUnique">URL not Unique! Enter new URL. </div>
	  	<br>
	  	<div class="panel panel-success">
		  <div class="panel-heading">Add new Page</div>
		  <div class="panel-body">
		    <form ng-submit = 'postPage()'>
		    	<div class="input-group">
		    	  <span class="input-group-addon">Title</span>
				  <input type='text' name='title' ng-model='page.title' class='form-control' placeholder='page title'/>
				</div>
				<div class="input-group">
		    	  <span class="input-group-addon"><%= SITE_URL %></span>
				  <input type='text' name='url' ng-change = "checkUrl(page.url)" ng-model='page.url' class='form-control' placeholder='page url example(/courses/b-tech) '/>
				</div>
				
				<textarea ck-editor="" name='content' ng-model='page.content' class='form-control' placeholder='Page contents' rows='20'></textarea>
				<textarea name='plugin' ng-model='page.plugin' class='form-control' placeholder = 'Plugin (Advanced)'>
				</textarea>
				<br>
				
				<input type='submit' class='btn btn-success' value = 'Save Page'  name='Save Page' ng-model='saveButton'>
				<input type='reset' class='btn btn-danger' name='Reset' >
			</form>
		  </div>
		</div>

	  	
	  </div>
	  <div class="tab-pane fade" id="edit">
	  	<br>
	  	<div class="alert alert-danger" ng-hide = "urlUnique">URL not Unique! Enter new URL. </div>
	  	<br>
	  	<div class="panel panel-info">
		  <div class="panel-heading">Edit {{editPage.title}}</div>
		  <div class="panel-body">
		    <form ng-submit = 'updatePage()'>
				<input type='text' name='title' ng-model='editPage.title' class='form-control' placeholder='page title'/>
				<input type='text' name='url' ng-model='editPage.url' ng-change = "checkUrl(editPage.url)" class='form-control' placeholder='page url example(/courses/b-tech) '/>
				<textarea ck-editor="" name='content' ng-model='editPage.content' class='form-control' placeholder='Page contents' rows='20'></textarea>
				<!-- <text-angular name='content' ng-model='editPage.content' ta-html-editor-class="form-control" ta-focussed-class="focussed" placeholder='Page contents'></text-angular> -->
				<textarea name='plugin' ng-model='editPage.plugin' class='form-control' placeholder = 'Plugin (Advanced)'>
				</textarea>
				<br>
				
				<input type='submit' class='btn btn-success' value = 'Update Page' name='Save Page' ng-model='editButton'>
				<input type='reset' class='btn btn-danger' name='Reset' >
			</form>
		  </div>
		</div>
	  </div>
	  <div class="tab-pane fade" id="settings">
	  </div>
	</div>
	
</div>