<div ng-controller="sliderController" class = 'col-md-12'>
  

	<!--	<div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">or drop files here</div>
		<div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
		<br/>
		<input type="checkbox" ng-model="uploadRightAway">Upload right away
		<br/>
		<br/>
		Progress:
		<br/>
		<br/>-->

		<fieldset>

		<legend>Upload Image</legend>

			<div class="form-group col-md-4">
   				<label for="name" class="control-label">File Name</label>
   				<input ng-model="modelName" name="name" type="text" placeholder="image name" class="form-control">

			</div>

			<div class="form-group col-md-4">
			  <label class="control-label" for="file">Choose File:</label>
			  <input type="file" name = "file" ng-file-select="onFileSelect($files)"> 
			</div>

			<div class = "input-group col-md-12">(Enter the name you would like to associate the file with. Example, the name of sponsor, or name of the page it's in) </div>

		</fieldset>
		</br> </br>

			<div class = "jumbotron" ng-show="selectedFiles != null">
				<div class="sel-file" ng-repeat="f in selectedFiles">
					<img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}" style='width:100%'>
					<button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Upload</button>
					<span class="progress" ng-show="progress[$index] >= 0">						
						<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
					</span>				
					<button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
					{{f.name}} - size: {{f.size}}B - type: {{f.type}}
				</div>
			</div>


		<fieldset>

			<legend>Existing Images</legend>

			<div ng-repeat = "item in imageFiles" class="col-xs-6 col-md-3">
			      <div>
			      	{{item.name}}
			      </div>
			      <img ng-src = {{item.image_path}} />
				  <button ng-click = "deleteImage(item.id,$index)" class = "btn btn-danger">X</button>
			</div>

		</fieldset>	


		<!--
		<div class="response" ng-show="uploadResult.length > 0">
			Server Response:
			<ul>
				<li ng-repeat="result in uploadResult">
					<ul>
						<li ng-repeat="item in result">
							<div data-ng-show="item.name">file name: {{item.name}}</div>
							<div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
							<div data-ng-show="item.size">size on the serve: {{item.size}}</div>
							<div data-ng-show="item.value">value: {{item.value}}</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
-->
</div>