<!DOCTYPE html>
<html ng-app="main">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pinnacle 2014</title>
		<%= stylesheet_link_tag "main",controller_name, media: "all", "data-turbolinks-track" => true %> 
		<%= javascript_include_tag "main",controller_name, "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=201924586662804";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		<div class="container">
			<%= render "layouts/main/header" %>
			<%= render "layouts/main/navigation" %>
			<section style="margin-top: 50px;">
				<%= yield %>
			</section>
			<%= render "layouts/main/footer" %>
			<%= render "layouts/main/modals" %>
		</div>
	</body>
</html>
