<!DOCTYPE html>
<html>
<head>
  <title>SME</title>
    <%= stylesheet_link_tag "cms",controller_name, media: "all" %> 
<%= javascript_include_tag "cms",controller_name %>
  <%= csrf_meta_tags %>
  
</head>
<body ng-app='manageuser'>
  <div id="wrapper">
    <%= render 'layouts/cms/sidebar' %>
    <div id="page-content-wrapper">
          <div class="content-header">
              <div>
                <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-bars"></i></a>
                
              </div>
        </div>
      <div class="page-content inset">
          <div class="row">
            <div class='col-md-12'>
              <%= yield %>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</body>
</html>