<!DOCTYPE html>
<html>
	<head>
		<title>Brain Teaser | Pinnacle CEG</title>
		<%= stylesheet_link_tag "rebus", controller_name, media: "all" %> 
		<%= javascript_include_tag "rebus", controller_name %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/rebus/header' %>
			<%= render 'layouts/rebus/section' %>
			<%= render 'layouts/rebus/footer' %>
		</div>
		<div tesark>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="" target="_blank">
					<img src="/assets/tesark.png" id="tesark-logo">
				</a>
			</div>
		</div>
	</div>
</div>
	</body>
</html>