<div class="container">
<div class="col-md-5">
<h2>Register</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => "form-horizontal") do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, :class => "form-control" %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :class => "form-control" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :class => "form-control" %></div>

  <div><%= f.submit "Sign up", :class => "btn btn-primary"  %></div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>